/* Error: expected "{".
 *    ,
 * 10 |   width: 110%;
 *    |              ^
 *    '
 *   scss\components\_slide.scss 10:14  @forward
 *   scss\components\_index.scss 8:1    @use
 *   scss\main.scss 4:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 10 \2502    width: 110%;\d\a    \2502               ^\a    \2575 \a   scss\\components\\_slide.scss 10:14  @forward\a   scss\\components\\_index.scss 8:1    @use\a   scss\\main.scss 4:1                 root stylesheet';
}
