/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Manrope", sans-serif;
  color: var(--Text-Color-Dark);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
  padding: 0;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
}

input,
textarea {
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
  transition: background-color 1s 99999s;
  -webkit-text-fill-color: var(--Text-Color-Dark);
  caret-color: var(--Text-Color-Dark);
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 600;
}

img {
  display: block;
}

@media (max-width: 575.98px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.separate {
  width: 100%;
  height: 4px;
  position: relative;
  margin-top: 55px !important;
  background: var(--Shapes-Color-Yellow-Lighter);
}
.separate::before {
  content: "";
  width: 32%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--Shapes-Color-Dark);
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1370px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1439.98px) {
  .container {
    max-width: 1170px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1439.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
@keyframes service1 {
  0%, 100% {
    transform: translateY(-10px);
  }
  25%, 75% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}
@keyframes service2 {
  0%, 100% {
    transform: translateY(20px);
  }
  25%, 75% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes btnDown {
  0%, 100% {
    transform: translateY(0);
  }
  25%, 75% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(10px);
  }
}
html {
  --Shapes-Color-White: #fff;
  --Shapes-Color-Dark: #131717;
  --Shapes-Color-Green: #005d63;
  --Shapes-Color-Green2: #1e787d;
  --Shapes-Color-Yellow: #ffd44d;
  --Shapes-Color-Yellow-Light: #edd08f;
  --Shapes-Color-Yellow-Lighter: #f1deb4;
  --Shapes-Color-Orange: #f86624;
  --Shapes-Color-Dark-Grey: #404b4b;
  --Shapes-Color-Grey: #c4d1d0;
  --Text-Color-White: #fff;
  --Text-Color-Dark: #131717;
  --Text-Color-Light: #566363;
  --Text-Color-Lighter: #889595;
  --Text-Color-Lighter-2: #a6b6b6;
}

.navbar__link, .navbar__list, .header-action, .header-form__btn, .header-form, .header-top__box, .header-top__wrap, .header-top {
  display: flex;
  align-items: center;
}

.header {
  background: var(--Shapes-Color-Green);
}
.header-inner {
  padding: 28px 0;
}

.header-top {
  justify-content: space-between;
}
.header-top__wrap {
  gap: 20px;
}
.header-top__box {
  gap: 4px;
}
.header-top__num {
  color: var(--Text-Color-White) !important;
}
.header-top__logout {
  width: 24px;
  height: 24px;
}

.header-form {
  position: relative;
  width: 799px;
  height: 44px;
  border: 1px solid var(--Shapes-Color-White);
}
.header-form__input {
  width: 100%;
  padding: 0 10px;
  color: var(--Text-Color-White);
  font-family: "Manrope", sans-serif;
  font-size: 1.4rem;
  line-height: 1.71;
}
.header-form__input::placeholder {
  color: var(--Text-Color-White);
  font-family: "Manrope", sans-serif;
  font-size: 1.4rem;
  line-height: 1.71;
}
.header-form__btn {
  width: 44px;
  height: 44px;
  position: absolute;
  top: -0.8px;
  right: -0.8px;
  justify-content: center;
  background: var(--Shapes-Color-Yellow);
}

.header-action {
  gap: 20px;
}
.header-action__link {
  color: var(--Text-Color-White);
  transition: 0.25s ease-in;
}
.header-action__link:hover {
  color: var(--Text-Color-Dark);
}
.header-action__btn {
  min-width: 94px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background: rgb(255, 151, 0);
  border: none;
  z-index: 1;
  color: var(--Text-Color-White);
}
.header-action__btn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #eaf818;
  background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.header-action__btn:hover {
  color: var(--Text-Color-Dark);
}
.header-action__btn:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.header-action__btn:active {
  top: 2px;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}
.navbar__item {
  position: relative;
  padding: 10px 20px;
}
.navbar__item:first-child {
  padding-left: 0;
}
.navbar__item:last-child {
  padding-right: 0;
}
.navbar__link {
  gap: 6px;
  color: var(--Text-Color-White);
  line-height: 1.75;
}

.navbar__item:hover .navbar-dropDown {
  opacity: 1;
  visibility: visible;
}

.navbar-dropDown {
  opacity: 0;
  visibility: hidden;
  width: 210px;
  position: absolute;
  background: var(--Shapes-Color-Green);
  transition: 0.2s ease;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 2;
}
.navbar-dropDown__item {
  padding: 8px 24px;
  border-top: 1px solid var(--Shapes-Color-Green2);
}
.navbar-dropDown__item:first-child {
  padding-top: 30px;
  border-top: none;
}
.navbar-dropDown__link {
  color: var(--Text-Color-White);
  line-height: 1.75;
}
.navbar-dropDown__link:hover {
  color: var(--Shapes-Color-Yellow);
}

.footer {
  background: var(--Shapes-Color-Dark);
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 55px 0;
  border-bottom: 1.5px solid var(--Shapes-Color-Dark-Grey);
}
.footer-top__title, .footer-top__desc {
  color: var(--Text-Color-White);
}
.footer-top__wrap {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 16px;
}
.footer-top__desc {
  margin-top: 12px;
}
.footer-top__strong {
  border-bottom: 1.5px solid #fff;
}
.footer-top__img {
  margin-top: 12px;
  width: 114px;
  height: 28px;
  object-fit: cover;
}

.footer-bottom {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: flex-start;
  margin-top: 55px;
  padding-bottom: 29px;
}
.footer-bottom__title {
  margin-bottom: 24px;
  color: var(--Text-Color-White);
}
.footer-bottom__link {
  color: var(--Text-Color-Lighter-2);
  line-height: 1.75;
}
.footer-bottom__link + .footer-bottom__link {
  margin-top: 12px;
}
.footer-bottom__socials {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer-bottom__social {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Shapes-Color-Dark-Grey);
  transition: 0.5s;
}
.footer-bottom__social:hover {
  background: var(--Shapes-Color-Green);
}

.footer-copyright {
  background: var(--Shapes-Color-Yellow-Lighter);
}
.footer-copyright__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0;
}
.footer-copyright__wrap {
  display: flex;
  align-items: center;
  gap: 28px;
}
.footer-copyright__img {
  height: 18px;
  object-fit: cover;
}
.footer-copyright__text {
  color: var(--Text-Color-Dark);
}

.btn-large,
.btn-small {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.btn-large {
  padding: 15px 141px;
}

.btn-small {
  padding: 15px 35px;
}

.btn-1 {
  border: 1px solid var(--Shapes-Color-Green);
  color: var(--Shapes-Color-Green);
  transition: 0.25s ease;
}
.btn-1:hover {
  background: var(--Shapes-Color-Green);
  color: var(--Text-Color-White);
}

.btn-2 {
  background: var(--Shapes-Color-Green);
  color: var(--Text-Color-White);
}

.btn-3 {
  background: #00383c;
  color: var(--Text-Color-White);
}

.like-btn {
  cursor: pointer;
}

.like-btn:not(.like-btn--liked) .like-btn__icon--liked {
  display: none;
}

.like-btn--liked .like-btn__icon {
  display: none;
}

/* CSS */
.button-women {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-women:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}
.button-women:hover:after {
  transform: translate(0, 0);
}
.button-women:active {
  background-color: #ffdeda;
  outline: 0;
}
.button-women:hover {
  outline: 0;
}

.button-women--small {
  background-color: #ffc0cb;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.25s;
}
.button-women--small:hover, .button-women--small:focus {
  background-color: #ea4c89;
}

.section-heading {
  font-family: "Roboto Slab", sans-serif;
}

.section-heading-1 {
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
}

.section-heading-2 {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.24;
}

.section-heading-3 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
}

.section-heading-4 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}

.section-desc-1 {
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--Text-Color-Light);
}

.section-desc-2 {
  line-height: 1.75;
  color: var(--Text-Color-Light);
}

.section-desc-3 {
  font-size: 1.4rem;
  line-height: 1.71;
  color: var(--Text-Color-Light);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.logo__img {
  width: 100px;
}
.logo__text {
  color: var(--Text-Color-White);
  font-family: "Roboto Slab", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
}
.logo__text--footer {
  color: var(--Text-Color-Dark);
}

.banner {
  position: relative;
  width: 100%;
  height: 424px;
  object-fit: cover;
  background-image: url(../../assets/img/fashion/banner/banner-fa.png);
}
.banner__img {
  position: absolute;
  right: 0;
  bottom: -97px;
  width: 505px;
  height: 427px;
  object-fit: cover;
}

.banner-content {
  width: 70%;
  position: relative;
  top: 337px;
}
.banner-content__title {
  color: var(--Text-Color-Dark);
  font-family: "Roboto Slab";
  font-size: 16rem;
  font-weight: 800;
  line-height: 1.12;
}
.banner-content__desc {
  width: 39.9%;
  position: absolute;
  right: 65px;
  bottom: 5px;
  color: var(--Text-Color-Dark);
}
.banner-content__icon {
  position: absolute;
  left: -60px;
  bottom: 8px;
  z-index: -1;
}

.menu {
  margin-top: 458px;
}
.menu__wraps {
  position: relative;
}
.menu__img {
  width: 100%;
  object-fit: cover;
}
.menu__img--large {
  height: 501px;
}
.menu__img--small {
  height: 243px;
}
.menu__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.menu__title {
  position: relative;
  z-index: 2;
  color: #fff;
}
.menu__title--large {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.37;
  letter-spacing: 18px;
}
.menu__title--small {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.37;
  letter-spacing: 10px;
}
.menu__border-1 {
  position: absolute;
  top: 16px;
  left: -20px;
  width: 402px;
  height: 28px;
  background: var(--Shapes-Color-Yellow);
}
.menu__border-2, .menu__border-3 {
  position: absolute;
  top: 10px;
  left: -15px;
  width: 211px;
  height: 15px;
}
.menu__border-2 {
  background: var(--Shapes-Color-Yellow-Light);
}
.menu__border-3 {
  background: var(--Shapes-Color-Orange);
}

.service__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service {
  margin-top: 150px;
}
.service__container {
  width: 370px;
  height: 268px;
  flex-direction: column;
  justify-content: center;
  background: #fafafa;
  transition: 0.25s ease-in-out;
}
.service__container:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.service__wrap {
  background: #e5e5e5;
  border-radius: 50%;
}
.service__icon {
  padding: 30px;
}
.service__title {
  width: 75%;
  margin-top: 20px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.37;
}

.prod-item__stars, .prod-item__data, .prod-item__wrap-bot, .prod-item__wrap-top, .prod-item__box, .prod-list, .prod-content {
  display: flex;
  align-items: center;
}

.prod {
  margin-top: 150px;
}

.prod-content {
  justify-content: space-between;
}
.prod-content__desc {
  width: 65%;
  margin-top: 18px;
}

.prod-list {
  justify-content: center;
  gap: 30px;
}
.prod-list__item {
  padding: 13px 36px;
  border-radius: 999px;
  border: 1px solid var(--Shapes-Color-Green);
  color: var(--Text-Color-Dark);
  font-size: 1.8rem;
  line-height: 1.67;
  cursor: pointer;
}
.prod-list__item--active {
  color: var(--Text-Color-White);
  background: var(--Shapes-Color-Green);
  cursor: default;
}

.prod-containers {
  margin-top: 70px;
}

.prod-container {
  display: none;
}
.prod-container--active {
  display: block;
}

.prod-item {
  padding: 25px 20px;
  border-radius: 15px;
  box-shadow: 0px 40px 150px -35px rgba(0, 0, 0, 0.06);
}
.prod-item:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.prod-item__wrap-img {
  position: relative;
}
.prod-item__img {
  width: 100%;
  height: 310px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.prod-item__img--new {
  border-radius: 0;
}
.prod-item__box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding: 15px 35px;
  background: var(--Shapes-Color-Yellow);
}
.prod-item__mess, .prod-item__link {
  color: var(--Text-Color-Dark);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.prod-item__mess {
  margin-right: 66px;
}
.prod-item__link {
  margin-right: 20px;
  text-decoration: underline;
}
.prod-item__text-new {
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 6px 10px;
  background: var(--Shapes-Color-Dark);
  color: var(--Text-Color-White);
  line-height: 1.71;
}
.prod-item__wrap-top {
  margin-top: 20px;
  justify-content: space-between;
}
.prod-item__name {
  color: var(--Text-Color-Light);
  font-size: 1.4rem;
  line-height: 1.71;
}
.prod-item__title {
  margin-top: 4px;
}
.prod-item__price {
  margin-top: 12px;
  color: var(--Text-Color-Dark);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.prod-item__wrap-bot {
  gap: 15px;
  margin-top: 12px;
}
.prod-item__wrap-bot--new {
  justify-content: space-between;
}
.prod-item__data {
  gap: 6px;
}
.prod-item__stars {
  gap: 6px;
}
.prod-item__btn {
  margin-top: 28px;
}

.slider-wrap, .slider__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-main {
  width: 100%;
  overflow: hidden;
}

.slider {
  width: 100%;
  height: 190px;
  margin-top: 112px;
  overflow: hidden;
}
.slider__inner {
  margin-top: 50px;
  width: 110%;
  height: 90px;
  background: var(--Shapes-Color-Dark);
  margin-left: -10px;
  rotate: -3deg;
  justify-content: space-between;
}

.slider-wrap {
  gap: 8px;
}
.slider-wrap__content {
  color: var(--Text-Color-White);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}

.sale-item__wrap-price, .sale-item__data, .sale-item__wrap-bot, .sale-item__wrap-top, .sale-content {
  display: flex;
  align-items: center;
}

.sale {
  margin-top: 112px;
}
.sale__banner {
  width: 100%;
  height: 518px;
  object-fit: cover;
}

.sale-content {
  justify-content: space-between;
  margin-bottom: 70px;
}
.sale-content__title {
  width: 35%;
}

.sale-item__img-wrap {
  position: relative;
}
.sale-item__img {
  width: 100%;
  height: 310px;
}
.sale-item__text {
  width: 100%;
  padding: 15px 0;
  background: var(--Shapes-Color-Orange);
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  color: var(--Text-Color-White);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.sale-item__wrap-top {
  justify-content: space-between;
  margin-top: 20px;
}
.sale-item__name {
  color: var(--Text-Color-Light);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
}
.sale-item__title {
  margin-top: 4px;
}
.sale-item__wrap-bot {
  justify-content: space-between;
  margin-top: 12px;
}
.sale-item__data {
  gap: 6px;
}
.sale-item__wrap-price {
  gap: 8px;
}
.sale-item__price {
  text-decoration: line-through;
}
.sale-item__price-sale {
  color: var(--Shapes-Color-Orange);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.sale-item__btn {
  margin-top: 38px;
}

.brand {
  margin-top: 150px;
}

.brand-content__title {
  width: 35%;
}

.brand-wrap {
  margin-top: 70px;
}
.brand-wrap__box {
  width: 100%;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Shapes-Color-Yellow-Lighter);
  transition: 0.25s ease-in-out;
}
.brand-wrap__box:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.brand-wrap__img {
  width: 150px;
  height: 79px;
  object-fit: contain;
}
.brand-wrap__title {
  margin-top: 18px;
  text-align: center;
  transition: 0.25s;
}
.brand-wrap__title:hover {
  color: var(--Shapes-Color-Green);
}

.brand-wrap__box:hover ~ .brand-wrap__title {
  color: var(--Shapes-Color-Green);
}

.feedback-container__stars, .feedback-container__boxs, .feedback-container__top {
  display: flex;
  align-items: center;
}

.feedback {
  margin-top: 150px;
}
.feedback-content {
  margin: 0 auto;
  text-align: center;
  width: 60%;
}
.feedback-content__title {
  color: #1e2a39;
}

.feedback-containers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 70px;
}

.feedback-container {
  padding: 25px 18px;
  box-shadow: 0px 40px 150px -35px rgba(0, 0, 0, 0.06);
  transition: 0.25s;
}
.feedback-container:hover {
  scale: 1.1;
  box-shadow: 0px 20px 60px 0px rgba(30, 42, 57, 0.07);
}
.feedback-container__top {
  justify-content: space-between;
}
.feedback-container__boxs {
  gap: 8px;
}
.feedback-container__avatar {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
}
.feedback-container__name {
  color: var(--Text-Color-Dark);
  font-size: 1.4rem;
  font-weight: 500;
}
.feedback-container__date {
  margin-top: 5px;
  color: var(--Text-Color-Lighter);
  font-size: 1.4rem;
}
.feedback-container__stars {
  gap: 4px;
}
.feedback-container__quote {
  margin-top: 20px;
  color: #000;
  font-size: 1.4rem;
  line-height: 1.61;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-info__link, .blog-content {
  display: flex;
  align-items: center;
}

.blog {
  margin-top: 150px;
}

.blog-content {
  justify-content: space-between;
}
.blog-content__desc {
  width: 55%;
  margin-top: 18px;
}
.blog-content__btn {
  border-radius: 16px;
}

.blog-info {
  margin-top: 70px;
}
.blog-info__wrap {
  transition: 0.5s ease-in-out;
}
.blog-info__wrap:hover {
  scale: 1.1;
}
.blog-info__img {
  width: 100%;
  height: 227px;
  object-fit: cover;
}
.blog-info__desc {
  height: 60px;
  margin-top: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-info__link {
  gap: 10px;
  margin-top: 30px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  text-decoration: underline;
}

.sub-form, .sub {
  display: flex;
  align-items: center;
}

.sub {
  position: relative;
  flex-direction: column;
  margin-top: 194px;
  padding: 70px 0;
  border-radius: 20px 20px 0 0;
  background: #005d63;
}
.sub__icon {
  position: absolute;
}
.sub__icon--top {
  top: -20px;
  left: 79px;
}
.sub__icon--bot {
  right: 139px;
  bottom: 77px;
}

.sub-content__title {
  color: #fff;
}
.sub-content__desc {
  margin-top: 10px;
  width: 80%;
  text-align: center;
  color: rgba(255, 255, 255, 0.88);
}

.sub-form {
  width: 450px;
  height: 60px;
  position: relative;
  margin-top: 32px;
  border-radius: 12px;
  background: #fff;
}
.sub-form__input {
  width: 100%;
  padding: 0 70px 0 26px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
}
.sub-form__input::placeholder {
  color: #b3b4b5;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
}
.sub-form__btn {
  position: absolute;
  top: 0;
  right: 0;
}

.product-container__btn, .product-container__top, .product-content {
  display: flex;
  align-items: center;
}

.product {
  padding: 100px 0 150px;
}

.product-content {
  flex-direction: column;
}
.product-content__title--women {
  background: rgb(255, 192, 203);
  background: linear-gradient(86deg, rgba(255, 192, 203, 0.8464635854) 48%, rgba(65, 162, 221, 0.9024859944) 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.product-content__desc {
  margin-top: 20px;
}

.product-containers {
  margin-top: 70px;
}

.product-container {
  display: none;
}
.product-container--active {
  display: flex;
}
.product-container__top {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 70px;
}
.product-container__mess {
  color: var(--Text-Color-Light);
}
.product-container__dropdown {
  position: relative;
}
.product-container__btn {
  gap: 21px;
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid #c4d1d0;
  color: var(--Text-Color-Dark);
}
.product-container__drop {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -193px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px 15px;
  background: var(--Shapes-Color-White);
  border: 1px solid #c4d1d0;
  border-top: initial;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.product-container__next {
  margin: 60px auto 0;
}

.product-container__drop.hide {
  display: none;
}

.product-container__drop.show {
  display: flex;
}

.product-item__img {
  width: 100%;
  height: 274px;
  border-radius: 10px;
}
.product-item__action {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 14px 26px;
  border-radius: 8px;
  background: var(--Shapes-Color-Green);
  color: var(--Shapes-Color-White);
  font-size: 14px;
  font-weight: 700;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s ease-out;
}
.product-item__action:hover {
  color: var(--Shapes-Color-Yellow);
}
.product-item__action--women {
  background: #ffc0cb;
}
.product-item__action--women:hover {
  color: #41a2dd;
}

.product-item:hover .product-item__action {
  opacity: 1;
  visibility: visible;
}

.product-left {
  width: 100%;
  padding: 25px 30px;
  border-radius: 15px;
  border: 1px solid var(--Shape-color-2, #e5e5e5);
  background: var(--Shapes-Color-White, #fff);
}
.product-left__list {
  margin-top: 25px;
}
.product-left__item {
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
  color: #000;
  font-size: 1.8rem;
  line-height: 1.67;
  cursor: pointer;
}
.product-left__item--women {
  color: #eec0c8;
}
.product-left__item--active {
  color: #41a2dd;
}
.product-left__item + .product-left__item {
  margin-top: 7px;
}
.product-left__desc {
  margin-top: 5px;
}
.product-left__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}
.product-left__input-bot {
  padding: 11px 15px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  background: var(--Shapes-Color-White);
  color: var(--Text-Color-Dark);
  font-size: 1.4rem;
  line-height: 1.71;
}
.product-left__input-bot::placeholder {
  color: var(--Text-Color-Light);
  font-size: 1.4rem;
  line-height: 1.71;
}
.product-left__btn-bot {
  padding: 13px 0;
  border-radius: 5px;
}
.product-left__btn-bot--women {
  color: #41a2dd;
  background: #fee6e3;
  border: 1px solid #fee6e3;
}
.product-left__btn-bot--women:hover {
  color: #41a2dd;
  border: 1px solid #fee6e3;
  background: #fff;
}

.product-left + .product-left {
  margin-top: 30px;
}

.about-wrap, .about {
  display: flex;
  align-items: center;
}

.about__inner {
  padding: 70px 0 150px;
}
.about__img {
  width: 100%;
  height: 493px;
  object-fit: cover;
}
.about__desc {
  width: 85%;
  margin-top: 20px;
  color: var(--Text-Color-Dark);
}
.about__meet {
  margin-top: 150px;
}
.about__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 38px;
  margin-top: 70px;
}

.about + .about {
  margin-top: 127px;
}

.about-content {
  width: 42%;
}
.about-content__desc {
  margin-top: 20px;
  color: var(--Text-Color-Dark);
}

.about-wrap {
  flex-direction: column;
}
.about-wrap__avatar {
  width: 264px;
  height: 264px;
  border-radius: 50%;
  object-fit: cover;
}
.about-wrap__name {
  margin-top: 25px;
  font-weight: 500;
  line-height: 1.75;
}
.about-wrap__position {
  margin-top: 5px;
  color: var(--Text-Color-Lighter);
  font-size: 1.4rem;
}

.contact-form__input, .contact-info__link {
  display: flex;
  align-items: center;
}

.contact {
  padding: 100px 0;
}
.contact__container {
  margin-top: 55px;
}

.contact-info {
  width: 100%;
  height: 540px;
  position: relative;
  padding: 30px;
  background: var(--Shapes-Color-Yellow);
}
.contact-info__desc {
  margin-top: 18px;
  color: var(--Text-Color-Dark);
}
.contact-info__list {
  margin-top: 28px;
}
.contact-info__item + .contact-info__item {
  margin-top: 18px;
}
.contact-info__link {
  gap: 12px;
  font-size: 1.8rem;
  line-height: 1.67;
}
.contact-info__icon {
  position: absolute;
  bottom: 0;
}
.contact-info__icon--left {
  left: 0;
}
.contact-info__icon--right {
  right: 0;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-form__input {
  width: 100%;
  border: 1px solid #c4d1d0;
  padding: 15px;
  color: var(--Text-Color-Dark);
  font-size: 1.8rem;
  line-height: 1.67;
}
.contact-form__input::placeholder {
  color: var(--Text-Color-Light);
  font-size: 1.8rem;
  line-height: 1.67;
}
.contact-form__text {
  width: 100%;
  height: 180px;
  padding: 15px;
  border: 1px solid #c4d1d0;
  resize: none;
  color: var(--Text-Color-Dark);
  font-size: 1.8rem;
  line-height: 1.67;
}
.contact-form__text::placeholder {
  color: var(--Text-Color-Light);
  font-size: 1.8rem;
  line-height: 1.67;
}
.contact-form__btn {
  max-width: 200px;
}

.blog-form, .blog-page-content, .blog-page {
  display: flex;
  align-items: center;
}

.blog-page {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 100px 0;
  background: var(--Shapes-Color-Yellow-Lighter);
}
.blog-page__btn {
  margin: 55px auto 150px;
}

.blog-page-content {
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.blog-page-content__title {
  width: 35%;
}
.blog-page-content__desc {
  width: 41%;
  margin-top: 18px;
}

.blog-form {
  gap: 16px;
  margin-top: 38px;
}
.blog-form__input {
  width: 297px;
  padding: 16px;
  background: var(--Shapes-Color-White);
  line-height: 1.75;
}
.blog-form__input::placeholder {
  color: var(--Text-Color-Light, #566363);
  line-height: 1.75;
}

.blog-page-container {
  margin-top: 150px;
}
.blog-page-container__item {
  transition: 0.25s ease-out;
}
.blog-page-container__item:hover {
  scale: 0.9;
}
.blog-page-container__img {
  width: 100%;
  object-fit: cover;
}
.blog-page-container__img--large {
  height: 570px;
}
.blog-page-container__img--medium {
  height: 370px;
}
.blog-page-container__img--small {
  height: 270px;
}
.blog-page-container__date {
  color: var(--Text-Color-Light);
}
.blog-page-container__date--large {
  margin-top: 20px;
}
.blog-page-container__title {
  margin-top: 12px;
  transition: 0.25s;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-page-container__bot {
  margin-top: 30px;
}

.blog-page-container__item:hover .blog-page-container__title {
  color: var(--Shapes-Color-Orange);
}

.blog-social__wrap-icon, .blog-social__wrap, .blog-social, .blog-detail-info__action, .blog-detail-info__wrap-quote {
  display: flex;
  align-items: center;
}

.blog-detail {
  padding-top: 100px;
}

.blog-detail-content {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.blog-detail-content__date {
  margin-top: 18px;
}

.blog-detail-info {
  margin-top: 55px;
  padding: 0 200px;
}
.blog-detail-info__img {
  width: 100%;
  height: 570px;
  object-fit: contain;
}
.blog-detail-info__img--medium {
  height: 360px;
}
.blog-detail-info__wrap-quote {
  flex-direction: column;
  margin: 55px 0;
}
.blog-detail-info__wrap-quote--bot {
  margin-top: 20px;
}
.blog-detail-info__quote + .blog-detail-info__quote {
  margin-top: 30px;
}
.blog-detail-info__wrap {
  margin-top: 60px;
}
.blog-detail-info__wrap-desc {
  margin: 20px 0 55px;
}
.blog-detail-info__desc {
  color: #000;
}
.blog-detail-info__desc + .blog-detail-info__desc {
  margin-top: 30px;
}
.blog-detail-info__action {
  flex-direction: column;
}

.blog-social {
  flex-direction: column;
}
.blog-social__wrap {
  gap: 12px;
  margin-top: 18px;
}
.blog-social__wrap-icon {
  width: 36px;
  height: 36px;
  justify-content: center;
  border-radius: 3px;
  background: #005d63;
}

.blog-related {
  margin: 150px 0;
}
.blog-related__title {
  width: 35%;
  margin-bottom: 70px;
}

.faq {
  padding: 100px 150px;
}

.faq-containers {
  margin-top: 55px;
}

.faq-container {
  position: relative;
  padding: 30px;
  border: 1px solid var(--Shapes-Color-Green);
  background: #fff;
}
.faq-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  background: var(--Shapes-Color-Green);
}
.faq-container__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq-container__title, .faq-container__btn {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.45;
}
.faq-container__btn {
  width: 46px;
  height: 46px;
  position: relative;
  background: #fff;
  border: 1px solid var(--Shapes-Color-Green);
  font-size: 3.2rem;
}
.faq-container__btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -3px;
  right: -3px;
  border-right: 3px solid var(--Shapes-Color-Green);
  border-bottom: 3px solid var(--Shapes-Color-Green);
}
.faq-container__desc {
  width: 65%;
  margin-top: 10px;
  font-size: 1.8rem;
  line-height: 1.67;
}

.faq-container + .faq-container {
  margin-top: 23px;
}

.faq-container__desc.hide {
  display: none;
}

.faq-container__desc.show {
  display: block;
}

/*# sourceMappingURL=main.css.map */
