@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--Shapes-Color-Green);

    &-inner {
        padding: 28px 0;

        @include abstracts.screen(lg) {
            padding: 20px 0 34px;
        }
    }
}

.header-top {
    position: relative;
    @extend %flexItemCenter;
    justify-content: space-between;

    &__wrap {
        @extend %flexItemCenter;
        gap: 20px;
    }

    &__box {
        @extend %flexItemCenter;
        gap: 4px;
    }

    &__num {
        color: var(--Text-Color-White) !important;
    }

    &__logout {
        width: 24px;
        height: 24px;
    }
}

.header-form {
    @extend %flexItemCenter;
    position: relative;
    width: 799px;
    height: 44px;
    border: 1px solid var(--Shapes-Color-White);

    @include abstracts.screen(xxl) {
        width: 632px;
    }

    @include abstracts.screen(xl) {
        width: 532px;
    }

    @include abstracts.screen(lg) {
        width: 445px;
        height: 40px;
        position: absolute;
        bottom: -62px;
        right: 0;
    }

    @include abstracts.screen(md) {
        width: 214px;
    }

    &__input {
        width: 100%;
        padding: 0 10px;

        color: var(--Text-Color-White);
        font-family: "Manrope", sans-serif;
        font-size: 1.4rem;
        line-height: 1.71;

        &::placeholder {
            color: var(--Text-Color-White);
            font-family: "Manrope", sans-serif;
            font-size: 1.4rem;
            line-height: 1.71;
        }
    }

    &__btn {
        @extend %flexItemCenter;
        width: 44px;
        height: 44px;
        position: absolute;
        top: -0.8px;
        right: -0.8px;
        justify-content: center;
        background: var(--Shapes-Color-Yellow);

        @include abstracts.screen(lg) {
            height: 40px;
        }
    }
}

.header-action {
    @extend %flexItemCenter;
    gap: 20px;

    &__link {
        color: var(--Text-Color-White);
        transition: 0.25s ease-in;

        &:hover {
            color: var(--Text-Color-Dark);
        }
    }

    &__btn {
        min-width: 94px;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
            7px 7px 20px 0px rgba(0, 0, 0, 0.1),
            4px 4px 5px 0px rgba(0, 0, 0, 0.1);
        outline: none;

        background: rgb(255, 151, 0);
        border: none;
        z-index: 1;
        color: var(--Text-Color-White);

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 0;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 5px;
            background-color: #eaf818;
            background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
            box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
                7px 7px 20px 0px rgba(0, 0, 0, 0.1),
                4px 4px 5px 0px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
        }

        &:hover {
            color: var(--Text-Color-Dark);
        }

        &:hover:after {
            top: auto;
            bottom: 0;
            height: 100%;
        }

        &:active {
            top: 2px;
        }
    }
}

.navbar {
    display: flex;
    justify-content: center;
    margin-top: 28px;

    &__list {
        @extend %flexItemCenter;

        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;
            display: inline-block;
        }
    }

    &__item {
        position: relative;
        padding: 10px 20px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        @include abstracts.screen(lg) {
            padding-left: 0;
        }
    }

    &__link {
        @extend %flexItemCenter;
        gap: 6px;

        color: var(--Text-Color-White);
        line-height: 1.75;

        @include abstracts.screen(lg) {
            color: var(--Shapes-Color-Green2);
        }
    }

    &__icon--mobile:hover {
        rotate: -90deg;
    }
}

.navbar__item:hover .navbar-dropDown {
    opacity: 1;
    visibility: visible;
}

.navbar-dropDown {
    opacity: 0;
    visibility: hidden;
    width: 210px;
    position: absolute;
    top: 38px;
    left: 18px;
    background: var(--Shapes-Color-Green);
    transition: 0.2s ease;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 2;

    @include abstracts.screen(lg) {
        width: 176px;
        top: -36px;
        left: 80px;
        background: transparent;
        border-radius: 0;
    }

    &__item {
        padding: 8px 24px;
        border-top: 1px solid var(--Shapes-Color-Green2);

        &:first-child {
            padding-top: 30px;
            border-top: none;
        }

        @include abstracts.screen(lg) {
            border: none;
        }
    }

    &__link {
        color: var(--Text-Color-White);
        line-height: 1.75;

        &:hover {
            color: var(--Shapes-Color-Yellow);
        }

        @include abstracts.screen(lg) {
            color: var(--Shapes-Color-Green);
        }
    }
}

.navbar-mobile {
    margin-top: 28px;

    &__wrap {
        @extend %flexItemCenter;
        gap: 5px;
    }

    &__text {
        color: var(--Text-Color-White);
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.48;
    }
}

.mobile {
    position: fixed;
    inset: 0 50% 0 0;
    background: #fff;
    z-index: 99;
    padding: 20px 50px;
    translate: -100%;
    transition: translate 0.5s;

    @include abstracts.screen(sm) {
        inset: 0 20% 0 0;
    }

    &.show {
        translate: 0;
        box-shadow: 0px 40px 90px 20px var(--Text-Color-Dark);
    }

    &.hide ~ &__overlay {
        visibility: hidden;
        opacity: 0;
    }

    &.show ~ &__overlay {
        visibility: visible;
        opacity: 1;
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;

        @include abstracts.screen(lg) {
            visibility: visible;
            opacity: 1;
            position: fixed;
            inset: 0;
            z-index: 88;
            background: rgba($color: #000000, $alpha: 0.4);
        }
    }
}
