@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-dark text-base min-h-screen;
  }
}

@layer components {
  .container-page {
    @apply w-full max-w-[1380px] mx-auto px-5;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .section-heading {
    font-family: 'Roboto Slab', sans-serif;
  }

  .section-heading-1 {
    @apply text-[58px] font-bold leading-[1.17];
  }

  .section-heading-2 {
    @apply text-[42px] font-bold leading-tight;
  }

  .section-heading-4 {
    @apply text-xl font-bold leading-normal;
  }

  .section-desc-1 {
    @apply text-lg leading-relaxed text-light;
  }

  .section-desc-3 {
    @apply text-sm leading-[1.71] text-light;
  }

  .btn-1 {
    @apply text-green border border-green transition-all duration-200 ease-linear hover:text-white hover:bg-green;
  }

  .header-action__btn {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    background: #ff9700;
    z-index: 1;
  }

  .header-action__btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .header-action__btn:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }

  .header-action__btn:active {
    top: 2px;
  }

  .header-form__input {
    font-family: 'Manrope', sans-serif;
    line-height: 1.71;
  }

  .header-form__input::placeholder {
    color: var(--Text-Color-White);
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    line-height: 1.71;
  }

  .menu-container:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  .separate::before {
    content: '';
    width: 32%;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    background: #131717;
  }

  .brand-wrap__box:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  .feedback-container:hover {
    scale: 1.1;
    box-shadow: 0px 20px 60px 0px rgba(30, 42, 57, 0.07);
  }

  // fashion
  .service__container:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  .prod-item {
    box-shadow: 0px 40px 150px -35px rgba(0, 0, 0, 0.1);
  }

  .prod-item:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px, rgba(0, 0, 0, 0.2) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .like-btn {
    cursor: pointer;
  }

  .like-btn:not(.like-btn--liked) .like-btn__icon--liked {
    display: none;
  }

  .like-btn--liked .like-btn__icon {
    display: none;
  }

  /* Toast */
  .toast {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all 0.3s linear;
  }

  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }

  .toast {
    border-left: 4px solid;
  }

  .toast + .toast {
    margin-top: 24px;
  }

  .toast.toast--success {
    border-color: #47d864 !important;
  }

  .toast--success .toast__icon {
    color: #47d864;
  }

  .toast.toast--info {
    border-color: #2f86ed !important;
  }

  .toast--info .toast__icon {
    color: #2f86ed;
  }

  .toast.toast--warning {
    border-color: #ffc021 !important;
  }

  .toast--warning .toast__icon {
    color: #ffc021;
  }

  .toast.toast--error {
    border-color: #dd4747 !important;
  }

  .toast--error .toast__icon {
    color: #dd4747;
  }
}
