@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-dark text-base min-h-screen;
  }
}

@layer components {
  .container-page {
    @apply w-full max-w-[1380px] mx-auto px-5;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .section-heading {
    font-family: 'Roboto Slab', sans-serif;
  }

  .section-heading-1 {
    @apply text-[58px] font-bold leading-[1.17];
  }

  .section-heading-2 {
    @apply text-[42px] font-bold leading-tight;
  }

  .section-heading-3 {
    @apply text-2xl font-bold leading-[1.42];
  }

  .section-heading-4 {
    @apply text-xl font-bold leading-normal;
  }

  .section-desc-1 {
    @apply text-lg leading-relaxed text-light;
  }

  .section-desc-3 {
    @apply text-sm leading-[1.71] text-light;
  }

  .btn-1 {
    @apply text-green border border-green transition-all duration-200 ease-linear hover:text-white hover:bg-green;
  }

  .header-action__btn {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    background: #ff9700;
    z-index: 1;
  }

  .header-action__btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .header-action__btn:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }

  .header-action__btn:active {
    top: 2px;
  }

  .header-form__input {
    font-family: 'Manrope', sans-serif;
    line-height: 1.71;
  }

  .header-form__input::placeholder {
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    line-height: 1.71;
  }

  .menu-container:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  .separate::before {
    content: '';
    width: 32%;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    background: #131717;
  }

  .brand-wrap__box:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  .feedback-container:hover {
    scale: 1.1;
    box-shadow: 0px 20px 60px 0px rgba(30, 42, 57, 0.07);
  }

  // fashion
  .service__container:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  .prod-item {
    box-shadow: 0px 40px 150px -35px rgba(0, 0, 0, 0.1);
  }

  .prod-item:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px, rgba(0, 0, 0, 0.2) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .like-btn {
    cursor: pointer;
  }

  .like-btn:not(.like-btn--liked) .like-btn__icon--liked {
    display: none;
  }

  .like-btn--liked .like-btn__icon {
    display: none;
  }

  // FAQ
  .faq-container::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    right: -10px;
    bottom: -10px;
    z-index: -1;
    background: #005d63;
  }

  .faq-container__btn::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -3px;
    right: -3px;
    border-right: 3px solid var(--Shapes-Color-Green);
    border-bottom: 3px solid var(--Shapes-Color-Green);
  }

  .product-review__separate::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 325px;
    height: 4px;
    background: var(--Shapes-Color-Dark-Grey, #404b4b);
  }

  .product-feedback__wrap:hover {
    background: var(--Shapes-Color-White, #fff);
    box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.07);
    border-color: #fff;
  }

  .brand-slide .swiper-slide {
    width: 25%;
  }

  .brand-slide .swiper-scrollbar,
  .product-list .swiper-scrollbar {
    opacity: 1 !important;
    background-color: #f1deb4;
  }

  .brand-slide .swiper-wrapper,
  .product-list .swiper-wrapper {
    margin-bottom: 55px;
  }

  // modal favorite
  .zoom-enter .content,
  .zoom-exit-active .content {
    opacity: 0;
    transform: scale(0.2);
  }
  .zoom-enter-active .content {
    opacity: 1;
    transform: scale(1);
  }
  .zoom-exit .content {
    opacity: 1;
  }

  /* Toast */
  .toast {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all 0.3s linear;
  }

  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }

  .toast {
    border-left: 4px solid;
  }

  .toast + .toast {
    margin-top: 24px;
  }

  .toast.toast--success {
    border-color: #47d864 !important;
  }

  .toast--success .toast__icon {
    color: #47d864;
  }

  .toast.toast--info {
    border-color: #2f86ed !important;
  }

  .toast--info .toast__icon {
    color: #2f86ed;
  }

  .toast.toast--warning {
    border-color: #ffc021 !important;
  }

  .toast--warning .toast__icon {
    color: #ffc021;
  }

  .toast.toast--error {
    border-color: #dd4747 !important;
  }

  .toast--error .toast__icon {
    color: #dd4747;
  }

  // scrollbar cart modal
  .cart-modal::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
  }

  .cart-modal::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
  }

  .cart-modal::-webkit-scrollbar-thumb {
    background-color: #999;
  }

  .img-list-details::-webkit-scrollbar {
    display: none;
  }

  // config slider slick
  .text-slider > div .slick-arrow {
    display: none !important;
  }

  .product-list .swiper-slide {
    width: 33.3333333333%;
  }

  // Loading Skeleton
  .skeleton {
    background-color: #eee;
    background-image: linear-gradient(110deg, #dbdbdb 8%, #f5f5f5 18%, #dbdbdb 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }

  @keyframes shine {
    to {
      background-position-x: -200%;
    }
  }

  .poster-slide .slick-arrow {
    display: none !important;
  }

  .form__checkbox::before,
  .form__checkbox::after {
    content: '';
    position: absolute;
  }

  .form__checkbox::before {
    width: 19px;
    height: 19px;
    border-radius: 5px;
    border: 1px solid #9e9da8;
  }

  .form__checkbox::after {
    top: 5px;
    left: 3px;
    width: 13px;
    height: 6px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    rotate: -45deg;
    display: none;
  }

  .profile-user {
    background: linear-gradient(180deg, rgba(26, 22, 46, 0) 0%, #1a162e 100%),
      url(../img/profile/bg.png) no-repeat center;
    box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
  }

  .payment-cart__circle {
    --circle-width: 28px;
    position: relative;
    width: 42px;
    height: var(--circle-width);
  }

  .payment-cart__circle::before,
  .payment-cart__circle::after {
    content: '';
    position: absolute;
    top: 0;
    width: var(--circle-width);
    height: var(--circle-width);
    border-radius: 50%;
  }

  .payment-cart__circle::before {
    left: 0;
    z-index: 1;
    background: #f94545;
    mix-blend-mode: hard-light;
  }

  .payment-cart__circle::after {
    right: 0;
    background: #ffb700;
  }

  .profile-user {
    background: linear-gradient(180deg, rgba(26, 22, 46, 0) 0%, #1a162e 100%),
      url('./assets/img/profile/bg.png') no-repeat;
    background-position: center center;
    margin-right: -10px;
  }
}

// RESPONSIVE
// xxl
@media (max-width: 1440px) {
}

// xl
@media (max-width: 1023px) {
  .product-list .swiper-slide {
    width: 50%;
  }
}

// lg
@media (max-width: 992px) {
  .brand-slide .swiper-slide {
    width: 33%;
  }
}

// md
@media (max-width: 768px) {
  .brand-slide .swiper-slide {
    width: 50%;
  }

  .feedback-container:hover {
    scale: 1.05;
  }
}

// sm
@media (max-width: 576px) {
  .product-list .swiper-slide {
    width: 100%;
  }

  .product-review__separate::before {
    width: 100%;
  }

  .brand-slide .swiper-slide {
    width: 100%;
  }
}
