@use '../abstracts';

html {
  --Shapes-Color-White: #fff;
  --Shapes-Color-Dark: #131717;
  --Shapes-Color-Green: #005d63;
  --Shapes-Color-Green2: #1e787d;
  --Shapes-Color-Yellow: #ffd44d;
  --Shapes-Color-Yellow-Light: #edd08f;
  --Shapes-Color-Yellow-Lighter: #f1deb4;
  --Shapes-Color-Orange: #f86624;
  --Shapes-Color-Dark-Grey: #404b4b;
  --Shapes-Color-Grey: #c4d1d0;
  --Text-Color-White: #fff;
  --Text-Color-Dark: #131717;
  --Text-Color-Light: #566363;
  --Text-Color-Lighter: #889595;
  --Text-Color-Lighter-2: #a6b6b6;
}
