<div class="container">
    <div class="footer-top">
        <h2 class="footer-top__title section-heading-4">Excellent</h2>
        <div class="footer-top__wrap">
            <img src="./assets/icons/star.svg" alt="" />
            <img src="./assets/icons/star.svg" alt="" />
            <img src="./assets/icons/star.svg" alt="" />
            <img src="./assets/icons/star.svg" alt="" />
            <img src="./assets/icons/star.svg" alt="" />
        </div>
        <p class="footer-top__desc section-desc-1">
            Based on
            <strong class="footer-top__strong">13,586 reviews</strong>
        </p>
        <img
            src="./assets/img/logo-footer.png"
            alt=""
            class="footer-top__img"
        />
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom__wrap">
            <h3 class="footer-bottom__title section-heading-4">
                Customer Service
            </h3>
            <ul class="footer-bottom__list">
                <li>
                    <a href="./contact.html" class="footer-bottom__link"
                        >Contact Us</a
                    >
                </li>
                <li>
                    <a href="./faq.html" class="footer-bottom__link">FAQs</a>
                </li>
                <li>
                    <a href="#!" class="footer-bottom__link">Order Lookup</a>
                </li>
                <li>
                    <a href="#!" class="footer-bottom__link">Returns</a>
                </li>
                <li>
                    <a href="#!" class="footer-bottom__link">
                        Shipping & Delivery
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer-bottom__link">
                        Corporate Gifting
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom__wrap">
            <h3 class="footer-bottom__title section-heading-4">About Us</h3>
            <ul class="footer-bottom__list">
                <li>
                    <a href="#!" class="footer-bottom__link">Careers</a>
                </li>
                <li>
                    <a href="./blog.html" class="footer-bottom__link"
                        >News & Blog</a
                    >
                </li>
                <li>
                    <a href="#!" class="footer-bottom__link">Press Center</a>
                </li>
                <li>
                    <a href="#!" class="footer-bottom__link">Investors</a>
                </li>
                <li>
                    <a href="#!" class="footer-bottom__link">Suppliers</a>
                </li>
                <li>
                    <a href="#!" class="footer-bottom__link">
                        Terms & Conditions
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer-bottom__link">
                        Privacy Policy
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom__wrap">
            <h3 class="footer-bottom__title section-heading-4">Credit Card</h3>
            <ul class="footer-bottom__list">
                <li>
                    <a href="#!" class="footer-bottom__link">Gift Cards</a>
                </li>
                <li>
                    <a href="#!" class="footer-bottom__link"
                        >Gift Cards Balance</a
                    >
                </li>
                <li>
                    <a href="#!" class="footer-bottom__link"
                        >Shop with Points</a
                    >
                </li>
                <li>
                    <a href="#!" class="footer-bottom__link"
                        >Reload Your Balance</a
                    >
                </li>
            </ul>
        </div>
        <div class="footer-bottom__wrap">
            <h3 class="footer-bottom__title section-heading-4">Sell</h3>
            <ul class="footer-bottom__list">
                <li>
                    <a href="#!" class="footer-bottom__link">Start Selling</a>
                </li>
                <li>
                    <a href="#!" class="footer-bottom__link">Learn to Sell</a>
                </li>
                <li>
                    <a href="#!" class="footer-bottom__link">
                        Affiliates & Partners
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom__wrap">
            <h3 class="footer-bottom__title section-heading-4">Follow us</h3>
            <div class="footer-bottom__socials">
                <a href="#!" class="footer-bottom__social">
                    <img src="./assets/icons/fb-icon.svg" alt="" />
                </a>
                <a href="#!" class="footer-bottom__social">
                    <img src="./assets/icons/in-icon.svg" alt="" />
                </a>
                <a href="#!" class="footer-bottom__social">
                    <img src="./assets/icons/twiter-icon.svg" alt="" />
                </a>
            </div>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        <div class="footer-copyright__inner">
            <a class="logo" href="./">
                <img src="./assets/img/logo.png" class="logo__img" alt="" />
                <h2 class="logo__text logo__text--footer">Daddy World</h2>
            </a>
            <div class="footer-copyright__wrap">
                <a href="#!">
                    <img
                        src="./assets/img/paypal.png"
                        alt=""
                        class="footer-copyright__img"
                    />
                </a>
                <a href="#!">
                    <img
                        src="./assets/img/visa.png"
                        alt=""
                        class="footer-copyright__img"
                    />
                </a>
                <a href="#!">
                    <img
                        src="./assets/img/masterCart.png"
                        alt=""
                        class="footer-copyright__img"
                    />
                </a>
            </div>
            <p class="footer-copyright__text section-desc-2">
                Copyright © 2024 Daddy World Team
            </p>
        </div>
    </div>
</div>
