<div class="container">
    <div class="header-inner">
        <div class="header-top">
            <a class="logo" href="./">
                <img src="./assets/img/logo.png" class="logo__img" alt="" />
                <h2 class="logo__text">Daddy Work</h2>
            </a>
            <form action="" class="header-form">
                <input
                    class="header-form__input"
                    type="search"
                    name="search"
                    id="search"
                    placeholder="Search for anything"
                />
                <button class="header-form__btn" type="submit">
                    <img src="./assets/icons/search.svg" alt="" />
                </button>
            </form>
            <div class="header-action">
                <button class="header-action__link">Sign In</button>
                <a href="" class="btn-small header-action__btn">Sign Up</a>
            </div>
        </div>
        <!-- Navigator -->
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="./index.html" class="navbar__link">
                        Home
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="navbar__icon"
                        />
                    </a>
                    <ul class="navbar-dropDown navbar-dropDown--home">
                        <li class="navbar-dropDown__item"></li>
                        <li class="navbar-dropDown__item">
                            <a
                                href="./electronic.html"
                                class="navbar-dropDown__link"
                                >Electronic</a
                            >
                        </li>
                        <li class="navbar-dropDown__item">
                            <a
                                href="./fashion.html"
                                class="navbar-dropDown__link"
                                >Fashion</a
                            >
                        </li>
                        <li class="navbar-dropDown__item">
                            <a
                                href="./furniture.html"
                                class="navbar-dropDown__link"
                                >Furniture</a
                            >
                        </li>
                        <li class="navbar-dropDown__item">
                            <a
                                href="./kids-fashion.html"
                                class="navbar-dropDown__link"
                                >Kids Fashion</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Category
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="navbar__icon"
                        />
                    </a>
                    <ul class="navbar-dropDown navbar-dropDown--category">
                        <li class="navbar-dropDown__item"></li>
                        <li class="navbar-dropDown__item">
                            <a href="#!" class="navbar-dropDown__link"
                                >Men Fashion</a
                            >
                        </li>
                        <li class="navbar-dropDown__item">
                            <a href="#!" class="navbar-dropDown__link"
                                >Women Fashion</a
                            >
                        </li>
                        <li class="navbar-dropDown__item">
                            <a href="#!" class="navbar-dropDown__link"
                                >Kids Fashion</a
                            >
                        </li>
                        <li class="navbar-dropDown__item">
                            <a href="#!" class="navbar-dropDown__link"
                                >Baby Fashion</a
                            >
                        </li>
                        <li class="navbar-dropDown__item">
                            <a href="#!" class="navbar-dropDown__link"
                                >Mobile Device</a
                            >
                        </li>
                        <li class="navbar-dropDown__item">
                            <a href="#!" class="navbar-dropDown__link"
                                >Computer Device</a
                            >
                        </li>
                        <li class="navbar-dropDown__item">
                            <a href="#!" class="navbar-dropDown__link"
                                >Beauty Products</a
                            >
                        </li>
                        <li class="navbar-dropDown__item">
                            <a href="#!" class="navbar-dropDown__link"
                                >Furniture</a
                            >
                        </li>
                        <li class="navbar-dropDown__item">
                            <a href="#!" class="navbar-dropDown__link"
                                >Smart Watch</a
                            >
                        </li>
                        <li class="navbar-dropDown__item">
                            <a href="#!" class="navbar-dropDown__link"
                                >Modern Shoes</a
                            >
                        </li>
                        <li class="navbar-dropDown__item">
                            <a href="#!" class="navbar-dropDown__link"
                                >Jewelry</a
                            >
                        </li>
                        <li class="navbar-dropDown__item">
                            <a href="#!" class="navbar-dropDown__link"
                                >Home Products</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Brand
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="navbar__icon"
                        />
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Products
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="navbar__icon"
                        />
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        About
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="navbar__icon"
                        />
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Shop</a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Pages
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="navbar__icon"
                        />
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
