<div class="container">
    <div class="header-inner">
        <div class="header-top">
            <a class="logo" href="./">
                <img src="./assets/img/logo.png" class="logo__img" alt="" />
                <h2 class="logo__text">Daddy Word</h2>
            </a>
            <form action="" class="header-form">
                <input
                    class="header-form__input"
                    type="search"
                    name="search"
                    id="search"
                    placeholder="Search for anything"
                />
                <button class="header-form__btn" type="submit">
                    <img src="./assets/icons/search.svg" alt="" />
                </button>
            </form>
            <div class="header-action">
                <button class="header-action__link">Sign In</button>
                <a href="" class="btn-small header-action__btn">Sign Up</a>
            </div>
        </div>
        <!-- Navigator -->
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="./" class="navbar__link">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Category
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="navbar__icon"
                        />
                    </a>
                    <ul class="navbar-dropDown navbar-dropDown--category">
                        <li class="navbar-dropDown__item"></li>
                        <li class="navbar-dropDown__item">
                            <a
                                href="./produc-men.html"
                                class="navbar-dropDown__link"
                                >Men Fashion</a
                            >
                        </li>
                        <li class="navbar-dropDown__item">
                            <a
                                href="./produc-women.html"
                                class="navbar-dropDown__link"
                                >Women Fashion</a
                            >
                        </li>
                        <li class="navbar-dropDown__item">
                            <a
                                href="./produc-kids.html"
                                class="navbar-dropDown__link"
                                >Kids Fashion</a
                            >
                        </li>
                        <li class="navbar-dropDown__item">
                            <a
                                href="./produc-baby.html"
                                class="navbar-dropDown__link"
                                >Baby Fashion</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="navbar__item">
                    <a href="./about.html" class="navbar__link">About</a>
                </li>
                <li class="navbar__item">
                    <a href="./blog.html" class="navbar__link">Blog</a>
                </li>
                <li class="navbar__item">
                    <a href="./contact.html" class="navbar__link">Contact</a>
                </li>
                <li class="navbar__item">
                    <a href="./faq.html" class="navbar__link">FAQ</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
