.btn {
    &--cancel {
        border: 1px solid #ccc;
        border-radius: 99px;
    }

    &--save {
        border-radius: 99px;
    }
}

.btn-large,
.btn-small {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.8rem;
    font-weight: 600;
    white-space: nowrap;
}

.btn-large {
    padding: 15px;
    width: 100%;
}

.btn-small {
    padding: 15px;
}

.btn-1 {
    border: 1px solid var(--Shapes-Color-Green);
    color: var(--Shapes-Color-Green);
    transition: 0.25s ease;

    &:hover {
        background: var(--Shapes-Color-Green);
        color: var(--Text-Color-White);
    }
}

.btn-2 {
    background: var(--Shapes-Color-Green);
    color: var(--Text-Color-White);

    &:hover {
        opacity: 0.8;
    }
}

.btn-3 {
    background: #00383c;
    color: var(--Text-Color-White);
}

.like-btn {
    cursor: pointer;
}

.like-btn:not(.like-btn--liked) .like-btn__icon--liked {
    display: none;
}

.like-btn--liked .like-btn__icon {
    display: none;
}

// <button class="button-56" role="button">Button 56</button>

/* CSS */
.button-women {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &:after {
        background-color: #111;
        border-radius: 8px;
        content: "";
        display: block;
        height: 48px;
        left: 0;
        width: 100%;
        position: absolute;
        top: -2px;
        transform: translate(8px, 8px);
        transition: transform 0.2s ease-out;
        z-index: -1;
    }

    &:hover:after {
        transform: translate(0, 0);
    }

    &:active {
        background-color: #ffdeda;
        outline: 0;
    }

    &:hover {
        outline: 0;
    }
}

.button-women--small {
    background-color: #ffc0cb;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.25s;

    &:hover,
    &:focus {
        background-color: #ea4c89;
    }
}

.button-kids {
    align-items: center;
    background-image: linear-gradient(
        90deg,
        rgba(0, 93, 99, 1) 0%,
        rgba(113, 219, 227, 1) 80%,
        rgba(170, 249, 255, 1) 100%
    );
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;

    &:active,
    &:hover {
        outline: 0;
    }
}

.button-kids span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-kids:hover span {
    background: none;
}

// button Kids small
.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
        86deg,
        rgba(9, 54, 57, 1) 34%,
        rgba(61, 176, 184, 1) 100%
    );
}

.button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.8rem;
    color: white;
    background: #71dbe3;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}
