.btn-large,
.btn-small {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.8rem;
    font-weight: 600;
}

.btn-large {
    padding: 15px 141px;
}

.btn-small {
    padding: 15px 35px;
}

.btn-1 {
    border: 1px solid var(--Shapes-Color-Green);
    color: var(--Shapes-Color-Green);
    transition: 0.25s ease;

    &:hover {
        background: var(--Shapes-Color-Green);
        color: var(--Text-Color-White);
    }
}

.btn-2 {
    background: var(--Shapes-Color-Green);
    color: var(--Text-Color-White);
}

.btn-3 {
    background: #00383c;
    color: var(--Text-Color-White);
}

.like-btn {
    cursor: pointer;
}

.like-btn:not(.like-btn--liked) .like-btn__icon--liked {
    display: none;
}

.like-btn--liked .like-btn__icon {
    display: none;
}

// <button class="button-56" role="button">Button 56</button>

/* CSS */
.button-women {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &:after {
        background-color: #111;
        border-radius: 8px;
        content: "";
        display: block;
        height: 48px;
        left: 0;
        width: 100%;
        position: absolute;
        top: -2px;
        transform: translate(8px, 8px);
        transition: transform 0.2s ease-out;
        z-index: -1;
    }

    &:hover:after {
        transform: translate(0, 0);
    }

    &:active {
        background-color: #ffdeda;
        outline: 0;
    }

    &:hover {
        outline: 0;
    }
}

.button-women--small {
    background-color: #ffc0cb;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.25s;

    &:hover,
    &:focus {
        background-color: #ea4c89;
    }
}
