@use "../abstracts";

.deal {
    display: flex;
    align-items: center;
    gap: 130px;
    margin-top: 150px;
}

.deal-info {
    position: relative;

    &__img {
        width: 570px;
        height: 578px;
        object-fit: contain;
        border-radius: 8px;
    }

    &__icon {
        position: absolute;

        &--top {
            top: 78px;
            right: 22px;
        }

        &--bot {
            right: 53px;
            bottom: 65px;
        }
    }
}

.deal-conten {
    width: 35%;

    &__desc {
        margin-top: 18px;
        color: var(--Text-Color-Lighter);
    }

    &__btn {
        width: 170px;
        margin-top: 34px;
        border-radius: 8px;
    }
}
