@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.feedback {
    margin-top: 150px;

    @include abstracts.screen(lg) {
        margin-top: 100px;
    }

    &-content {
        margin: 0 auto;
        text-align: center;
        width: 60%;

        @include abstracts.screen(xl) {
            width: 70%;
        }

        @include abstracts.screen(lg) {
            width: 95%;
        }

        @include abstracts.screen(lg) {
            width: 100%;
            text-align: start;
        }

        &__title {
            color: #1e2a39;
        }
    }
}

.feedback-containers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 70px;

    @include abstracts.screen(lg) {
        grid-template-columns: 1fr;
    }
}

.feedback-container {
    padding: 25px 18px;
    box-shadow: 0px 40px 150px -35px rgba(0, 0, 0, 0.06);
    transition: 0.25s;

    &:hover {
        scale: 1.1;
        box-shadow: 0px 20px 60px 0px rgba(30, 42, 57, 0.07);
    }

    &__top {
        @extend %flexItemCenter;
        justify-content: space-between;

        @include abstracts.screen(xl) {
            align-items: flex-start;
            flex-direction: column;
        }
    }

    &__boxs {
        @extend %flexItemCenter;
        gap: 8px;
    }

    &__avatar {
        width: 45px;
        height: 45px;
        object-fit: cover;
        border-radius: 50%;
    }

    &__name {
        color: var(--Text-Color-Dark);
        font-size: 1.4rem;
        font-weight: 500;
    }

    &__date {
        margin-top: 5px;
        color: var(--Text-Color-Lighter);
        font-size: 1.4rem;
    }

    &__stars {
        @extend %flexItemCenter;
        gap: 4px;

        @include abstracts.screen(xl) {
            margin-top: 12px;
        }
    }

    &__quote {
        margin-top: 20px;
        color: #000;
        font-size: 1.4rem;
        line-height: 1.61;

        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
