@use "../abstracts";

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    &__img {
        width: 100px;

        @include abstracts.screen(lg) {
            width: 85px;
        }

        @include abstracts.screen(sm) {
            width: 65px;
        }
    }

    &__text {
        color: var(--Text-Color-White);
        font-family: "Roboto Slab", sans-serif;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.42;

        &--footer {
            color: var(--Text-Color-Dark);
        }

        @include abstracts.screen(lg) {
            font-size: 1.8rem;
        }

        @include abstracts.screen(sm) {
            font-size: 1.6rem;
        }
    }
}
