@use "../abstracts";

// Menu Fashion
.menu {
    margin-top: 458px;

    &__wraps {
        position: relative;
    }

    &__img {
        width: 100%;
        object-fit: cover;

        &--large {
            height: 501px;
        }

        &--small {
            height: 243px;
        }
    }

    &__wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }

    &__title {
        position: relative;
        z-index: 2;
        color: #fff;

        &--large {
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.37;
            letter-spacing: 18px;
        }

        &--small {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.37;
            letter-spacing: 10px;
        }
    }

    &__border-1 {
        position: absolute;
        top: 16px;
        left: -20px;
        width: 402px;
        height: 28px;
        background: var(--Shapes-Color-Yellow);
    }

    &__border-2,
    &__border-3 {
        position: absolute;
        top: 10px;
        left: -15px;
        width: 211px;
        height: 15px;
    }

    &__border-2 {
        background: var(--Shapes-Color-Yellow-Light);
    }

    &__border-3 {
        background: var(--Shapes-Color-Orange);
    }
}
