@use "../abstracts";

// Menu Fashion
.menu {
    margin-top: 458px;

    @include abstracts.screen(xl) {
        margin-top: 376px;
    }

    @include abstracts.screen(sm) {
        margin-top: 310px;
    }

    &__wraps {
        position: relative;
    }

    &__img {
        width: 100%;
        object-fit: cover;

        &--large {
            height: 516px;

            @include abstracts.screen(sm) {
                height: 244px;
            }
        }

        &--small {
            height: 243px;

            @include abstracts.screen(sm) {
                height: 167px;
            }
        }
    }

    &__wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        @include abstracts.screen(xl) {
            left: 48%;
            translate: -48%;
        }

        &--small {
            @include abstracts.screen(lg) {
                left: 50%;
            }

            @include abstracts.screen(sm) {
                left: 50%;
            }
        }
    }

    &__title {
        position: relative;
        z-index: 2;
        color: #fff;

        &--large {
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.37;
            letter-spacing: 18px;

            @include abstracts.screen(sm) {
                font-size: 1.8rem;
            }
        }

        &--small {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.37;
            letter-spacing: 10px;

            @include abstracts.screen(lg) {
                font-size: 1rem;
            }

            @include abstracts.screen(sm) {
                font-size: 1.1rem;
            }
        }
    }

    &__border-1 {
        position: absolute;
        top: 16px;
        left: -20px;
        width: 402px;
        height: 28px;
        background: var(--Shapes-Color-Yellow);

        @include abstracts.screen(sm) {
            width: 287px;
            top: 12px;
            left: 8px;
        }
    }

    &__border-2,
    &__border-3 {
        position: absolute;
        top: 10px;
        left: -15px;
        width: 211px;
        height: 15px;

        @include abstracts.screen(lg) {
            top: 6px;
            left: -25px;
        }

        @include abstracts.screen(sm) {
            top: 7px;
            left: -25px;
        }
    }

    &__border-2 {
        background: var(--Shapes-Color-Yellow-Light);
    }

    &__border-3 {
        background: var(--Shapes-Color-Orange);
    }
}
