@use "../abstracts";

%fill-screen {
    position: fixed;
    inset: 0;
}

%flexItemCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal {
    @extend %fill-screen;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility;
    transition-duration: 0.2s;
    overflow-y: auto;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        font-size: 3.5rem;
        padding: 3px 20px;
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
    }

    &__close-popup {
        position: absolute;
        top: 0;
        right: 0;
        padding: 16px;
        background: var(--Shapes-Color-Yellow-Light);
    }

    &__overlay {
        @extend %fill-screen;
        background: rgba($color: #000000, $alpha: 0.4);
    }

    &__heading {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.41;
    }

    &__body {
        padding-right: 20px;
        max-height: calc(100vh - 180px);
        padding-right: 20px;
        overflow-y: auto;
    }

    &__content {
        position: relative;
        z-index: 1;

        width: min(var(--content-width, 800px), 100% - 40px);
        padding: 30px 10px 30px 30px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 20px 60px 10px var(--dialog-shadow-color);

        @include abstracts.screen(lg) {
            height: 800px;
        }

        @include abstracts.screen(md) {
            height: 500px;
        }

        &--delete {
            height: initial;
        }

        &--popup {
            padding: 55px 100px;
            overflow-y: auto;
        }
    }

    &--small &__content {
        --content-width: 400px;
    }

    &--medium &__content {
        --content-width: 470px;
        padding: 30px;
        border-radius: 0;
        overflow-y: auto;

        @include abstracts.screen(lg) {
            height: 650px;
        }

        @include abstracts.screen(md) {
            height: 600px;
        }
    }

    &--large &__content {
        --content-width: 1170px;
        border-radius: 0;

        @include abstracts.screen(lg) {
            --content-width: 800px;
        }

        @include abstracts.screen(md) {
            --content-width: 500px;
        }
    }

    &--fill &__content {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    &__text {
        font-size: 1.8rem;
        line-height: 1.5;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 50px;
        padding-right: 20px;

        @include abstracts.screen(lg) {
            gap: 20px;
        }

        @include abstracts.screen(sm) {
            margin-top: 20px;
        }
    }

    &__btn {
        height: 46px;
        border-radius: 6px;

        @include abstracts.screen(md) {
            flex: 1;
        }

        &--danger {
            color: #fff;
            background: #ed4337;
        }

        &--cancel {
            background: transparent;
            border: 1px solid #d2d1d6;
        }
    }

    &__close-wrap {
        @extend %fill-screen;
        z-index: 10;
        top: 3%;
        left: 67%;

        @include abstracts.screen(xxl) {
            left: 70%;
        }

        @include abstracts.screen(xl) {
            left: 74%;
        }
    }

    &__close-icon {
        padding: 16px;
        background: var(--Shapes-Color-Yellow-Light);
    }

    &__success {
        position: relative;
        margin: 0 auto;

        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #52be4f;

        &::before {
            content: "";
            position: absolute;
            top: 16px;
            left: 14px;
            width: 25px;
            height: 12px;
            border-bottom: 4px solid #fff;
            border-left: 4px solid #fff;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 4px;
            border-top-left-radius: 4px;
            rotate: -50deg;
        }
    }

    &__title {
        margin-top: 12px;
        text-align: center;
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.23;
        color: #bae5b9;
    }

    &__desc {
        width: 70%;
        margin: 18px auto 0;
        color: var(--Text-Color-Light);
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.67;
    }

    &__action {
        display: block;
        padding: 15px;
        margin: 20px auto 0;
        color: #fff;
        background: #52be4f;
        border-radius: 99px;

        font-size: 1.7rem;
    }
}

.modal-wrap {
    @extend %flexItemCenter;

    &__text {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.67;
    }
}

.modal-container {
    &__top {
        @extend %flexItemCenter;
        padding-bottom: 18px;
        border-bottom: 1px solid var(--Shapes-Color-Grey);

        &--cart {
            display: flex;
            align-items: center;
            padding-bottom: 18px;
            border-bottom: 1px solid var(--Shapes-Color-Grey);
        }
    }

    &__item {
        color: var(--Text-Color-Dark);

        &--cart {
            margin-right: 166px;
        }
    }

    &__action {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__btn {
        text-decoration: underline;
    }

    &__bottom {
        display: flex;
        gap: 18px;
        margin-top: 18px;

        @include abstracts.screen(lg) {
            flex-direction: column;
        }
    }

    &__img {
        width: 100px;
        height: 100px;

        @include abstracts.screen(lg) {
            width: 100%;
            height: 100%;
        }
    }

    &__name,
    &__price {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.67;
    }

    &__id {
        margin: 4px 0 8px;
    }

    &__price-wrap {
        @extend %flexItemCenter;
        padding-bottom: 18px;
        margin-bottom: 30px;
        border-bottom: 1px solid var(--Shapes-Color-Grey);
    }

    &__desc {
        color: var(--Text-Color-Light, #566363);
        font-weight: 400;

        &--large {
            font-size: 1.8rem;
            line-height: 1.66;
        }

        &--small {
            font-size: 1.4rem;
            line-height: 1.71;
        }
    }

    &__btn-view,
    &__btn-checkout {
        margin-top: 20px;
    }

    &__btn-checkout {
        width: 100%;
        background: var(--Shapes-Color-Yellow);
        color: var(--Text-Color-Dark);

        &:hover {
            opacity: 0.8;
        }
    }
}

.modal-container + .modal-container {
    margin-top: 22px;
}
