@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.prod {
    margin-top: 150px;

    @include abstracts.screen(lg) {
        margin-top: 100px;
    }
}

.prod-content {
    @extend %flexItemCenter;
    justify-content: space-between;

    &__desc {
        width: 65%;
        margin-top: 18px;

        @include abstracts.screen(sm) {
            width: 100%;
        }
    }
}

.prod-list {
    @extend %flexItemCenter;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    @include abstracts.screen(lg) {
        gap: 15px;
    }

    &__item {
        padding: 13px 36px;
        border-radius: 999px;
        border: 1px solid var(--Shapes-Color-Green);

        color: var(--Text-Color-Dark);
        font-size: 1.8rem;
        line-height: 1.67;
        cursor: pointer;

        @include abstracts.screen(lg) {
            padding: 8px 13px;
        }

        &--active {
            color: var(--Text-Color-White);
            background: var(--Shapes-Color-Green);
            cursor: default;
        }
    }
}

.prod-containers {
    margin-top: 70px;

    @include abstracts.screen(lg) {
        margin-top: 50px;
    }

    @include abstracts.screen(md) {
        margin-top: 30px;
    }
}

.prod-container {
    display: none;

    &--active {
        display: block;
    }
}

.prod-item {
    padding: 25px 20px;
    border-radius: 15px;
    box-shadow: 0px 40px 150px -35px rgba(0, 0, 0, 0.06);

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
            rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    &__wrap-img {
        position: relative;
    }

    &__img {
        width: 100%;
        height: 310px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;

        @include abstracts.screen(lg) {
            height: 100%;
        }

        &--new {
            border-radius: 0;

            @include abstracts.screen(lg) {
                height: 310px;
            }

            @include abstracts.screen(md) {
                height: 100%;
            }
        }
    }

    &__box {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        @extend %flexItemCenter;
        justify-content: space-between;
        padding: 15px 35px;
        background: var(--Shapes-Color-Yellow);
    }

    &__mess,
    &__link {
        color: var(--Text-Color-Dark);
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.67;
    }

    &__mess {
        margin-right: 66px;

        @include abstracts.screen(xxl) {
            margin-right: 35px;
        }

        @include abstracts.screen(lg) {
            margin-right: 25px;
        }
    }

    &__link {
        margin-right: 20px;
        text-decoration: underline;
    }

    &__text-new {
        position: absolute;
        top: 16px;
        left: 16px;
        padding: 6px 10px;
        background: var(--Shapes-Color-Dark);

        color: var(--Text-Color-White);
        line-height: 1.71;
    }

    &__wrap-top {
        margin-top: 20px;
        @extend %flexItemCenter;
        justify-content: space-between;
    }

    &__name {
        color: var(--Text-Color-Light);
        font-size: 1.4rem;
        line-height: 1.71;
    }

    &__title {
        margin-top: 4px;
    }

    &__price {
        margin-top: 12px;
        color: var(--Text-Color-Dark);
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.67;
    }

    &__wrap-bot {
        @extend %flexItemCenter;
        gap: 15px;
        margin-top: 12px;

        &--new {
            justify-content: space-between;
        }
    }

    &__data {
        @extend %flexItemCenter;
        gap: 6px;
    }

    &__stars {
        @extend %flexItemCenter;
        gap: 6px;
    }

    &__btn {
        margin-top: 28px;
    }
}
