@use "../abstracts";

%FlexItemCenter {
    display: flex;
    align-items: center;
}

.sale {
    margin-top: 112px;

    @include abstracts.screen(lg) {
        margin-top: 83px;
    }

    &__banner {
        width: 100%;
        height: 518px;
        object-fit: cover;

        @include abstracts.screen(lg) {
            height: 100%;
        }
    }
}

.sale-content {
    @extend %FlexItemCenter;
    justify-content: space-between;
    margin-bottom: 70px;

    &__title {
        width: 35%;

        @include abstracts.screen(lg) {
            width: 50%;
        }

        @include abstracts.screen(md) {
            width: 70%;
        }

        @include abstracts.screen(sm) {
            width: 100%;
        }
    }
}

.sale-item {
    &__img-wrap {
        position: relative;
    }

    &__img {
        width: 100%;
        height: 304px;

        @include abstracts.screen(lg) {
            height: 100%;
        }
    }

    &__text {
        width: 100%;
        padding: 15px 0;
        background: var(--Shapes-Color-Orange);

        position: absolute;
        top: 50%;
        left: 0;
        translate: 0 -50%;

        color: var(--Text-Color-White);
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.67;
    }

    &__wrap-top {
        @extend %FlexItemCenter;
        justify-content: space-between;
        margin-top: 20px;
    }

    &__name {
        color: var(--Text-Color-Light);
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.71;
    }

    &__title {
        margin-top: 4px;
    }

    &__wrap-bot {
        @extend %FlexItemCenter;
        justify-content: space-between;
        margin-top: 12px;
    }

    &__data {
        @extend %FlexItemCenter;
        gap: 6px;
    }

    &__wrap-price {
        @extend %FlexItemCenter;
        gap: 8px;
    }

    &__price {
        text-decoration: line-through;
    }

    &__price-sale {
        color: var(--Shapes-Color-Orange);
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.67;
    }

    &__btn {
        margin-top: 38px;
    }
}
