@use "../abstracts";

.sale {
    margin-top: 112px;

    &-content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 70px;

        &__title {
            width: 35%;
        }
    }
}

.sale-info {
    &__banner {
        width: 100%;
        height: 518px;
        object-fit: cover;
    }

    &__wrap-img {
        position: relative;
    }

    &__img {
        width: 100%;
        height: 310px;
        object-fit: contain;
    }

    &__mess {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        translate: 0 -50%;
        padding: 15px 0;
        text-align: center;
        background: var(--Shapes-Color-Orange);
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }

    &__title {
        margin-top: 4px;
    }

    &__box {
        display: flex;
        align-items: center;
    }

    &__number {
        margin-left: 6px;
        color: var(--Text-Color-Light);
    }

    &__price {
        margin-left: 8px;
        color: var(--Shapes-Color-Orange);

        &--sale {
            text-decoration: line-through;
            color: var(--Text-Color-Light);
        }
    }

    &__btn {
        margin-top: 28px;
    }
}

// Sale Fashion
.sale-fa {
    margin-top: 150px;
    background: #f1deb4;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 100px 0;
    }
}

.sale-fa-content {
    width: 50%;
    &__desc {
        margin-bottom: 11px;
        font-family: "Roboto Slab";
        font-size: 4.2rem;
        font-weight: 600;
        line-height: 1.24;
    }

    &__title {
        font-family: "Roboto Slab";
        font-size: 5.8rem;
        font-weight: 700;
        line-height: 1.17;
    }

    &__sub-title {
        margin-top: 11px;
        color: var(--Shapes-Color-Green);
        font-family: "Roboto Slab";
        font-size: 5.8rem;
        font-weight: 700;
        line-height: 1.17;
    }
}

.sale-fa-info {
    &__img {
        width: 570px;
        height: 470px;
    }
}
