@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service {
    margin-top: 150px;
    background: var(--Shapes-Color-Yellow);

    &__inner {
        padding: 100px 0;
    }
}

.service-wrap {
    @extend %flexItemCenter;

    flex-direction: column;
    padding: 38px 0;
    background: var(--Shapes-Color-White);

    border-radius: 18px;

    &--other1 {
        animation-name: service1;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    &--other2 {
        animation-name: service2;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    &__title {
        margin-top: 28px;
    }

    &__desc {
        width: 75%;
        margin-top: 18px;
        text-align: center;
    }
}

// Service Fashion
.service-fa {
    margin-top: 150px;

    &__container {
        width: 370px;
        height: 268px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #fafafa;
        transition: 0.25s ease-in-out;

        &:hover {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
    }

    &__wrap {
        background: #e5e5e5;
        border-radius: 50%;
    }

    &__icon {
        padding: 30px;
    }

    &__title {
        width: 75%;
        margin-top: 20px;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.37;
    }
}

// Service furniture
.service-fu {
    margin-top: 150px;

    &__inner {
        align-items: center;
    }
}

.service-fu-content {
    &__containers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 48px;
        margin-top: 74px;
    }

    &__container {
        @extend %flexItemCenter;
        justify-content: flex-start;
        gap: 10px;
    }

    &__heading {
        color: #000;
        font-size: 2.1rem;
        font-weight: 600;
        line-height: 1.43;
    }

    &__desc {
        margin-top: 8px;
        color: #000;
    }

    &__action {
        @extend %flexItemCenter;
        justify-content: flex-start;
        gap: 20px;

        margin-top: 74px;
    }

    &__btn {
        min-width: 194px;
        border-radius: 7px;

        &--watch {
            min-width: 170px;
            border-radius: 7px;
            border: 1px solid var(--Text-Color-Lighter-2);
            transition: 0.25s;

            &:hover {
                color: var(--Shapes-Color-White);
                background: var(--Text-Color-Lighter-2);
            }
        }
    }
}

.service-fu-info {
    position: relative;

    &__video {
        width: 100%;
        border-radius: 10px;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        cursor: pointer;
    }
}
