@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service {
    margin-top: 150px;

    @include abstracts.screen(lg) {
        margin-top: 100px;
    }

    &__container {
        height: 268px;

        @extend %flexItemCenter;
        flex-direction: column;
        justify-content: center;
        background: #fafafa;
        transition: 0.25s ease-in-out;

        &:hover {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
    }

    &__wrap {
        background: #e5e5e5;
        border-radius: 50%;
    }

    &__icon {
        padding: 30px;
    }

    &__title {
        width: 65%;
        margin-top: 20px;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.37;

        @include abstracts.screen(xl) {
            font-size: 1.7rem;
        }

        @include abstracts.screen(lg) {
            font-size: 2.2rem;
        }
    }
}
