@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-main {
    width: 100%;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 190px;
    margin-top: 112px;
    overflow: hidden;

    @include abstracts.screen(lg) {
        margin-top: 88px;
    }

    &__inner {
        margin-top: 50px;
        width: 110%;
        height: 90px;
        background: var(--Shapes-Color-Dark);
        margin-left: -10px;
        rotate: -3deg;

        @extend %flexItemCenter;
        gap: 28px;
    }
}

.slider-wrap {
    @extend %flexItemCenter;
    gap: 8px;

    &__content {
        color: var(--Text-Color-White);
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        white-space: nowrap;
    }
}
