@use '../abstracts';

.slider-main {
  width: 100%;
  overflow: hidden;
}

.slider {
  width: 110%;
  height: 90px;
  transform: rotate(-3deg);
  background: var(--Shapes-Color-Dark);
  margin-left: -10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 112px;
}

.slider-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  animation-name: slide;
  animation-duration: 4s;
  animation-iteration-count: infinite;

  &__content {
    color: var(--Text-Color-White);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
  }
}
