@use "../abstracts";

.style {
    margin-top: 150px;
}

.style-content {
    width: 36%;

    &__desc {
        margin-top: 18px;
    }
}

.style-info {
    margin-top: 70px;

    &__img {
        width: 100%;
        height: 511px;
        object-fit: cover;
    }
}
