@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.sub {
    position: relative;
    @extend %flexItemCenter;
    flex-direction: column;

    margin-top: 194px;
    padding: 70px 0;
    border-radius: 20px 20px 0 0;
    background: #005d63;

    @include abstracts.screen(lg) {
        margin-top: 159px;
    }

    &__icon {
        position: absolute;

        &--top {
            top: -20px;
            left: 79px;

            @include abstracts.screen(lg) {
                top: -38px;
                left: 35px;
            }
        }

        &--bot {
            right: 139px;
            bottom: 77px;

            @include abstracts.screen(lg) {
                right: -46px;
                rotate: 90deg;
            }
        }
    }
}

.sub-content {
    &__title {
        margin: 0 auto;
        text-align: center;
        color: #fff;

        @include abstracts.screen(md) {
            width: 70%;
        }

        @include abstracts.screen(sm) {
            font-size: 2.8rem;
        }
    }

    &__desc {
        margin: 10px auto 0;
        text-align: center;
        width: 80%;
        color: rgba(255, 255, 255, 0.88);
    }
}

.sub-form {
    width: 450px;
    height: 60px;

    position: relative;
    @extend %flexItemCenter;

    margin-top: 32px;
    border-radius: 12px;
    background: #fff;

    @include abstracts.screen(sm) {
        width: 80%;
    }

    &__input {
        width: 100%;
        padding: 0 70px 0 26px;

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.71;

        &::placeholder {
            color: #b3b4b5;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.71;
        }
    }

    &__btn {
        position: absolute;
        top: 0;
        right: 0;
    }
}
