.section-heading {
    font-family: "Roboto Slab", sans-serif;
}

.section-heading-1 {
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
}

.section-heading-2 {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.24;
}

.section-heading-3 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
}

.section-heading-4 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
}

.section-desc-1 {
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--Text-Color-Light);
}

.section-desc-2 {
    line-height: 1.75;
    color: var(--Text-Color-Light);
}

.section-desc-3 {
    font-size: 1.4rem;
    line-height: 1.71;
    color: var(--Text-Color-Light);
}
