@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.about {
    @extend %flexItemCenter;

    @include abstracts.screen(lg) {
        justify-content: space-between;
    }

    &__inner {
        padding: 70px 0 150px;
    }

    &__img {
        width: 100%;
        height: 493px;
        object-fit: cover;

        @include abstracts.screen(xl) {
            height: 424px;
        }
    }

    &__desc {
        width: 85%;
        margin-top: 20px;
        color: var(--Text-Color-Dark);
    }

    &__meet {
        margin-top: 150px;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        gap: 38px;
        margin-top: 70px;
    }
}

.about + .about {
    margin-top: 127px;
}

.about-content {
    width: 42%;

    &__desc {
        margin-top: 20px;
        color: var(--Text-Color-Dark);
    }
}

.about-wrap {
    @extend %flexItemCenter;
    flex-direction: column;

    &__avatar {
        width: 264px;
        height: 264px;
        border-radius: 50%;
        object-fit: cover;

        @include abstracts.screen(xl) {
            width: 205px;
            height: 205px;
        }
    }

    &__name {
        margin-top: 25px;
        font-weight: 500;
        line-height: 1.75;
    }

    &__position {
        margin-top: 5px;
        color: var(--Text-Color-Lighter);
        font-size: 1.4rem;
    }
}
