@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.about {
    @extend %flexItemCenter;

    &__inner {
        padding: 70px 0 150px;

        @include abstracts.screen(lg) {
            padding: 70px 0 100px;
        }
    }

    &__img {
        width: 100%;
        height: 493px;
        object-fit: cover;

        @include abstracts.screen(xl) {
            height: 390px;
        }
    }

    &__desc {
        width: 85%;
        margin-top: 20px;
        color: var(--Text-Color-Dark);

        @include abstracts.screen(md) {
            width: 100%;
        }
    }

    &__meet {
        margin-top: 150px;

        @include abstracts.screen(xl) {
            margin-top: 100px;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        gap: 38px;
        margin-top: 70px;

        @include abstracts.screen(lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include abstracts.screen(sm) {
            grid-template-columns: 1fr;
        }
    }
}

.about + .about {
    margin-top: 127px;

    @include abstracts.screen(xl) {
        margin-top: 70px;
    }
}

.about-content {
    width: 100%;

    @include abstracts.screen(lg) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__wrap {
        @include abstracts.screen(md) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__desc {
        margin-top: 20px;
        color: var(--Text-Color-Dark);
    }
}

.about-wrap {
    @extend %flexItemCenter;
    flex-direction: column;

    &__avatar {
        width: 264px;
        height: 264px;
        border-radius: 50%;
        object-fit: cover;

        @include abstracts.screen(xl) {
            width: 204px;
            height: 204px;
        }
    }

    &__name {
        margin-top: 25px;
        font-weight: 500;
        line-height: 1.75;
    }

    &__position {
        margin-top: 5px;
        color: var(--Text-Color-Lighter);
        font-size: 1.4rem;
    }
}
