@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.blog-detail {
    padding-top: 100px;

    @include abstracts.screen(xl) {
        padding-top: 70px;
    }
}

.blog-detail-content {
    width: 50%;
    margin: 0 auto;
    text-align: center;

    @include abstracts.screen(xl) {
        width: 65%;
    }

    @include abstracts.screen(lg) {
        width: 85%;
    }

    @include abstracts.screen(md) {
        width: 100%;
    }

    &__date {
        margin-top: 18px;
    }
}

.blog-detail-info {
    margin-top: 55px;
    padding: 0 200px;

    @include abstracts.screen(xl) {
        padding: 0;
    }

    &__img {
        width: 100%;
        height: 570px;
        object-fit: contain;

        &--medium {
            height: 360px;
        }

        @include abstracts.screen(xl) {
            height: 100%;
        }
    }

    &__wrap-quote {
        @extend %flexItemCenter;
        flex-direction: column;
        margin: 55px 0;

        &--bot {
            margin-top: 20px;
        }
    }

    &__quote + &__quote {
        margin-top: 30px;
    }

    &__wrap {
        margin-top: 60px;
    }

    &__wrap-desc {
        margin: 20px 0 55px;
    }

    &__desc {
        color: #000;
    }

    &__desc + &__desc {
        margin-top: 30px;
    }

    &__action {
        @extend %flexItemCenter;
        flex-direction: column;
    }
}

.blog-social {
    @extend %flexItemCenter;
    flex-direction: column;

    &__wrap {
        @extend %flexItemCenter;
        gap: 12px;
        margin-top: 18px;
    }

    &__wrap-icon {
        width: 36px;
        height: 36px;
        @extend %flexItemCenter;
        justify-content: center;
        border-radius: 3px;
        background: #005d63;
    }
}

.blog-related {
    margin: 150px 0;

    @include abstracts.screen(lg) {
        margin-top: 100px;
    }

    &__title {
        width: 35%;
        margin-bottom: 70px;

        @include abstracts.screen(xl) {
            width: 45%;
        }

        @include abstracts.screen(lg) {
            width: 60%;
        }

        @include abstracts.screen(md) {
            width: 80%;
        }

        @include abstracts.screen(sm) {
            width: 100%;
        }
    }
}
