@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.product {
    padding: 100px 0 150px;

    &__btn {
        margin: 55px auto 0;
        &:hover {
            animation-name: btnDown;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            opacity: 0.8;
        }
    }
}

.product-content {
    text-align: center;

    &__desc {
        margin-top: 20px;
        color: var(--Text-Color-Light);
        line-height: 1.75;
    }
}

.product-fill {
    @extend %flexItemCenter;
    justify-content: space-between;

    margin-top: 38px;

    &--fa {
        margin-top: 70px;
    }

    &__btn {
        @extend %flexItemCenter;
        margin-right: 18%;
        gap: 21px;
        padding: 8px 15px;
        border-radius: 5px;
        border: 1px solid var(--Shapes-Color-Grey);

        color: var(--Text-Color-Dark);
        font-size: 1.8rem;
        line-height: 1.67;
    }

    &__button,
    &__box {
        border: 1px solid var(--Shapes-Color-Grey);
    }

    &__box {
        position: relative;
    }

    &__wrap {
        @extend %flexItemCenter;
        gap: 4px;
        padding: 8px 16px;
    }

    &__text {
        color: var(--Text-Color-Light);
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.67;
    }

    &__wraps {
        @extend %flexItemCenter;
        gap: 12px;
    }

    &__desc,
    &__relevency {
        color: var(--Text-Color-Light);
        font-size: 1.8rem;
        line-height: 1.67;

        &--fa {
            font-size: 16px;
            line-height: 1.75;
        }
    }

    &__list {
        @extend %flexItemCenter;
        gap: 42px;
        padding: 8px 16px;
    }

    &__relevency {
        color: var(--Text-Color-Dark);
        font-weight: 600;
    }

    &__list {
        @extend %flexItemCenter;
        gap: 20px;
    }

    &__item {
        padding: 8px 20px;
        border-radius: 5px;
        background: #f7f7f7;

        color: var(--Text-Color-Light);
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.67;
        cursor: pointer;

        &--active {
            background: var(--Shapes-Color-Green);
            color: var(--Text-Color-White);
            cursor: default;
        }
    }
}

.product-menu {
    margin-top: 70px;

    &__item {
        display: none;

        &--active {
            display: flex;
        }
    }

    &__container {
        padding: 20px 25px 25px;
        border-radius: 15px;
        box-shadow: 0px 40px 150px -35px rgba(0, 0, 0, 0.06);
        transition: 0.25s ease-in-out;

        &:hover {
            box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
                rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        }

        &--fa {
            padding: 0;
            box-shadow: none;
            &:hover {
                box-shadow: none;
            }
        }
    }

    &__wrap-img {
        position: relative;
    }

    &__wrap-img:hover &__img-btn {
        opacity: 1;
        visibility: visible;
    }

    &__img {
        width: 100%;
        height: 70%;
        object-fit: cover;

        &--elec {
            height: 267px;
            border-radius: 15px;
        }

        &--kids {
            border-radius: 10px;
        }

        &--fa {
            height: 274px;
            border-radius: 10px;
        }
    }

    &__img-btn {
        opacity: 0;
        visibility: hidden;
        transition: 0.25s ease-in;

        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        padding: 14px 26px;
        border-radius: 8px;
        background: var(--Shapes-Color-Green);

        color: var(--Shapes-Color-White);
        font-size: 1.4rem;
        font-weight: 700;
    }

    &__wrap-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        @extend %flexItemCenter;
        gap: 10px;

        opacity: 0;
        visibility: hidden;
        transition: 0.2s;
    }

    &__icon {
        padding: 11px;
        border-radius: 50%;
        background: var(--Shapes-Color-Yellow);
        cursor: pointer;
    }

    &__wrap-top {
        @extend %flexItemCenter;
        justify-content: space-between;
        margin-top: 20px;
    }

    &__type {
        color: var(--Text-Color-Light);
        font-size: 1.4rem;
        line-height: 1.71;
    }

    &__name {
        display: inline-block;
        margin-top: 4px;
        color: var(--Text-Color-Dark);
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
    }

    &__wrap-bot {
        @extend %flexItemCenter;
        justify-content: space-between;
        margin: 12px 0 28px;

        &--fa {
            justify-content: initial;
            gap: 11px;
            margin: 10px 0 0px;
        }
    }

    &__star {
        @extend %flexItemCenter;
        gap: 6px;
    }

    &__text,
    &__price {
        font-size: 1.8rem;
        line-height: 1.67;
    }

    &__text {
        color: var(--Text-Color-Light);
    }

    &__price {
        color: var(--Text-Color-Dark);
        font-weight: 600;

        &--fa {
            margin-top: 10px;
        }

        &-under {
            color: var(--Text-Color-Light);
            text-decoration: line-through;
        }

        &-sale {
            color: var(--Shapes-Color-Orange);
        }
    }

    &__wrap-price {
        @extend %flexItemCenter;
        gap: 8px;
    }
}

.product-menu__wrap-img:hover > .product-menu__wrap-icon {
    opacity: 1;
    visibility: visible;
}

.prod-box {
    width: 100%;
    height: 60px;
    background: var(--Shapes-Color-Yellow);

    position: absolute;
    left: 0;
    bottom: 0;
    @extend %flexItemCenter;

    &--kids {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    &__mess,
    &__link {
        color: var(--Text-Color-Dark);
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.67;
    }

    &__mess {
        padding-left: 35px;
    }

    &__link {
        margin-left: auto;

        &:hover {
            text-decoration-line: underline;
        }
    }

    &__sale {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        translate: 0 -50%;
        background: var(--Shapes-Color-Orange);

        padding: 15px 0;
        text-align: center;
        color: var(--Text-Color-White);
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.67;
    }

    &__best {
        position: absolute;
        top: 16px;
        left: 16px;
        padding: 6px 10px;
        background: var(--Shapes-Color-Dark);

        color: var(--Text-Color-White);
        font-size: 1.4rem;
        line-height: 1.71;
    }

    &__close {
        width: 14px;
        height: 14px;
        margin-left: 20px;
        padding-right: 35px;
    }
}

.like-btn {
    cursor: pointer;
}

.like-btn:not(.like-btn--liked) .like-btn__icon--liked {
    display: none;
}

.like-btn--liked .like-btn__icon {
    display: none;
}

.product-containers {
    margin-top: -150px;
}

.product-container {
    width: 100%;
    padding: 25px 30px;
    border-radius: 15px;
    border: 1px solid #e5e5e5;

    &__title {
        color: #000;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
    }
}

.product-category {
    &__list {
        margin-top: 25px;
    }

    &__item {
        padding-bottom: 5px;
        color: #000;
        font-size: 1.8rem;
        line-height: 1.67;
        border-bottom: 1px solid #e5e5e5;
    }

    &__item + &__item {
        margin-top: 7px;
    }
}

.product-fill-price {
    &__slider {
        justify-content: space-between;
        margin-top: 20px;
    }

    &__input {
        width: 100%;
        background: #e5e5e5;
        outline: none;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 10px;
            height: 10px;
            background: var(--Shapes-Color-Green);
            cursor: pointer;
        }

        &::-moz-range-thumb {
            width: 10px;
            height: 10px;
            background: var(--Shapes-Color-Green);
            cursor: pointer;
        }
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;
    }

    &__show {
        color: var(--Text-Color-Dark);
        font-weight: 500;
        line-height: 1.75;
    }

    &__btn {
        padding: 7px 14px;
        border-radius: 8px;
        background: var(--Shapes-Color-Green);

        color: var(--Shapes-Color-White);
        font-size: 1.2rem;
        font-weight: 600;

        &:hover {
            opacity: 0.8;
        }
    }
}

.product-fill-dropdown {
    position: absolute;
    top: 46px;
    left: -1px;
    z-index: 1;

    &__list {
        width: 152px;
        padding: 10px 5px;
        border: 1px solid var(--Shapes-Color-Grey);
        background: var(--Shapes-Color-White);
    }

    &__item {
        margin-top: 7px;
        padding-bottom: 5px;
        border-bottom: 1px solid #e5e5e5;
        color: #000;
        font-size: 18px;
        line-height: 1.67;
    }

    &__item:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
}

.product-fill-dropdown.hide {
    display: none;
}

.product-fill-dropdown.show {
    display: block;
}

.product-news {
    &__desc {
        margin-top: 5px;
        color: var(--Text-Color-Light);
        font-size: 1.4rem;
        line-height: 1.71;
    }

    &__form {
        margin-top: 25px;
    }

    &__input {
        width: 99%;
        padding: 11px 15px;
        border-radius: 5px;
        border: 1px solid var(--Shape-color-2, #e5e5e5);

        color: var(--Text-Color-Light);
        font-size: 1.4rem;
        line-height: 1.71;

        &::placeholder {
            color: var(--Text-Color-Light);
            font-size: 1.4rem;
            line-height: 1.71;
        }
    }

    &__input + &__input {
        margin-top: 15px;
    }

    &__btn {
        width: 100%;
        margin-top: 20px;
        padding: 13px 0;
        border-radius: 5px;
        background: var(--Shapes-Color-Green);

        color: #fff;
        font-weight: 500;
        line-height: 1.75;

        &:hover {
            opacity: 0.8;
        }
    }
}
