.profile {
    padding: 50px 0;
    background: #f6f6f6;

    &__sidebar {
        padding-bottom: 30px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
        overflow: hidden;
    }

    // User
    &-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px 20px 0;
        background: linear-gradient(
                180deg,
                rgba(26, 22, 46, 0) 0%,
                #1a162e 100%
            ),
            url(../img/profile/bg.png) no-repeat center;

        box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
        color: #fff;

        &__avatar {
            width: 121px;
            height: 121px;
            border: 5px solid rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            object-fit: cover;
            box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
            background: #ccc content-box;
        }

        &__name {
            margin-top: 15px;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.44;
        }

        &__desc {
            margin-top: 2px;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.46;
        }
    }

    // Menu
    &-menu {
        margin-top: 30px;
        padding: 0 30px;

        &__title {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.46;
        }

        &__list {
            margin-top: 11px;
        }

        &__link {
            display: flex;
            align-items: center;
            gap: 10px;
            height: 32px;
            padding: 0 4px;
            border-radius: 5px;

            font-size: 1.5rem;
            line-height: 1.46;
            transition: background 0.2s;

            &:hover {
                background: #ebebeb;
            }
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 100%;
        }
    }

    &__desc {
        margin-bottom: 16px;
    }
}

.profile-info {
    padding: 30px;
    border-radius: 20px;
    background: #fff;
    &__wrap {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-radius: 10px;
        background: #f6f6f6;
        overflow: hidden;
    }

    &__icon {
        padding: 18px;
        border-radius: 8px;
        background: #fff;
    }
}

.profile-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-form {
    &__label {
        display: block;
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 10px;
        color: var(--Shapes-Color-Green2);
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;
        margin-top: 30px;
    }
}
// End profile
