@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.product {
    padding: 100px 0 150px;
}

.product-content {
    @extend %flexItemCenter;
    flex-direction: column;

    &__title {
        &--women {
            background: rgb(255, 192, 203);
            background: linear-gradient(
                86deg,
                rgba(255, 192, 203, 0.8464635854341737) 48%,
                rgba(65, 162, 221, 0.9024859943977591) 75%
            );

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &--kids {
            background: rgb(113, 219, 227);
            background: linear-gradient(
                86deg,
                rgba(113, 219, 227, 1) 48%,
                rgba(170, 249, 255, 1) 75%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__desc {
        margin-top: 20px;
    }
}

.product-containers {
    margin-top: 70px;
}

.product-container {
    display: none;
    &--active {
        display: flex;
    }

    &__top {
        width: 100%;
        @extend %flexItemCenter;
        justify-content: space-between;
        margin-bottom: 70px;
    }

    &__mess {
        color: var(--Text-Color-Light);
    }

    &__dropdown {
        position: relative;
    }

    &__btn {
        @extend %flexItemCenter;
        gap: 21px;

        padding: 8px 15px;
        border-radius: 5px;
        border: 1px solid #c4d1d0;
        color: var(--Text-Color-Dark);
    }

    &__drop {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -193px;
        z-index: 1;

        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 8px 15px;
        background: var(--Shapes-Color-White);

        border: 1px solid #c4d1d0;
        border-top: initial;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &__next {
        margin: 60px auto 0;
    }
}

.product-container__drop.hide {
    display: none;
}

.product-container__drop.show {
    display: flex;
}

.product-item {
    &__img {
        width: 100%;
        height: 274px;
        border-radius: 10px;
    }

    &__action {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        padding: 14px 26px;
        border-radius: 8px;
        background: var(--Shapes-Color-Green);

        color: var(--Shapes-Color-White);
        font-size: 14px;
        font-weight: 700;

        opacity: 0;
        visibility: hidden;
        transition: 0.25s ease-out;

        &:hover {
            color: var(--Shapes-Color-Yellow);
        }

        &--women {
            background: #ffc0cb;

            &:hover {
                color: #41a2dd;
            }
        }

        &--kids {
            background: rgb(0, 93, 99);
            background: linear-gradient(
                90deg,
                rgba(0, 93, 99, 1) 0%,
                rgba(113, 219, 227, 1) 80%,
                rgba(170, 249, 255, 1) 100%
            );

            &:hover {
                color: #093639;
            }
        }
    }
}

.product-item:hover .product-item__action {
    opacity: 1;
    visibility: visible;
}

.product-left {
    width: 100%;
    padding: 25px 30px;
    border-radius: 15px;
    border: 1px solid var(--Shape-color-2, #e5e5e5);
    background: var(--Shapes-Color-White, #fff);

    &__list {
        margin-top: 25px;
    }

    &__item {
        padding-bottom: 5px;
        border-bottom: 1px solid #e5e5e5;
        color: #000;
        font-size: 1.8rem;
        line-height: 1.67;
        cursor: pointer;

        &--women {
            color: #eec0c8;
        }

        &--active {
            color: #3db0b8;
        }
    }

    &__item + &__item {
        margin-top: 7px;
    }

    &__desc {
        margin-top: 5px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 25px;
    }

    &__input-bot {
        padding: 11px 15px;
        border-radius: 5px;
        border: 1px solid #e5e5e5;
        background: var(--Shapes-Color-White);

        color: var(--Text-Color-Dark);
        font-size: 1.4rem;
        line-height: 1.71;

        &::placeholder {
            color: var(--Text-Color-Light);
            font-size: 1.4rem;
            line-height: 1.71;
        }
    }

    &__btn-bot {
        padding: 13px 0;
        border-radius: 5px;

        &--women {
            color: #41a2dd;
            background: #fee6e3;
            border: 1px solid #fee6e3;

            &:hover {
                color: #41a2dd;
                border: 1px solid #fee6e3;
                background: #fff;
            }
        }

        &--kids {
            color: var(--Shapes-Color-White);
            background: rgb(70, 220, 252);
            background: radial-gradient(
                circle,
                rgba(70, 220, 252, 0.9977240896358543) 33%,
                rgba(63, 76, 251, 1) 93%
            );
            border: none;

            &:hover {
                border: 1px solid rgba(63, 76, 251, 1);
                background: #fff;
                background: rgb(63, 94, 251);
                background: radial-gradient(
                    circle,
                    rgba(63, 94, 251, 1) 0%,
                    rgba(252, 70, 184, 1) 91%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.product-left + .product-left {
    margin-top: 30px;
}

.product-slide {
    margin-top: 30px;

    &__img {
        width: 100%;
        height: 750px;
        object-fit: cover;
    }
}
